<ion-content scroll-y style="--background:transparent;">
  <ion-grid class="ion-padding">
    <ion-row class="ion-margin-bottom ion-justify-content-between ion-align-items-center">
      <h2 class="heading-1">Laboratory products</h2>
      <ion-button fill="outline" (click)="showLabTourSlide($event)">Laboratory tour</ion-button>
    </ion-row>
    <ion-row class="ion-justify-content-between ion-margin-bottom" id="lab-header">
      <ion-col size="4">
        <app-search-input (search)="searchItem($event)" [value]="searchTerm"
          [placeholder]="'Search by strategy'"></app-search-input>
      </ion-col>
      <!-- <ion-col>
        <ion-select placeholder="sort by" icon="chevron-down-outline" (ionChange)="onSortChange($event)" aria-label="sort by" interface="popover">
          <ion-select-option value="id">newest</ion-select-option>
          <ion-select-option value="apy">APY</ion-select-option>
          <ion-select-option value="riskLevel">RISK</ion-select-option>
        </ion-select>
      </ion-col> -->
      <!-- <ion-col id="my-deposits">
        <ion-toggle (ionChange)="showOnlyDeposit($event)"></ion-toggle>
        <ion-label>My deposits</ion-label>
      </ion-col> -->
    </ion-row>

    <ion-row *ngFor="let product of labProduct$ | async | filter:'strategy':searchTerm;" class="lab-product ion-padding data-box"
      (click)="goToStrategy(product)">

      <ion-col sizeLg="2.5" size="6">
        <h5>protocols</h5>
        <div class="strategy-protocols">

          <div class="protocol" *ngFor="let protocol of product.defiParticipate">
            {{protocol}}
          </div>
        </div>
      </ion-col>
      <ion-col sizeLg="2.5" size="6">
        <h5>strategies</h5>
        <div class="strategies-items">

          <div class="strategies ion-text-capitalize" *ngFor="let strategy of product.strategies">
            {{strategy}}
          </div>
        </div>
      </ion-col>
      <ion-col sizeLg="2" size="6" class="strategy-apy">
        <h5>apy</h5>
        <span>
          <!-- <ion-skeleton-text *ngIf="!product.apy" animated></ion-skeleton-text> -->
          <app-loader  *ngIf="!product.apy"></app-loader>
          <span *ngIf="product.apy">
            {{product?.apy / 100 | percent:'1.0-2' }}
          </span>
        </span>
      </ion-col>
      <ion-col sizeLg="2" size="6" class="strategy-risk">
        <h5>risk</h5>
        <div class="risk" [ngClass]="{
                    'low': product.riskLevel === 1 && i == 0,
                    'medium': product.riskLevel === 2 && i < 2,
                    'high': product.riskLevel === 3 && i < 3
                    }" *ngFor="let risk of [0,1,2,3]; let i = index">

        </div>
        <!-- <div class="risk " [ngClass]="{'low': product.riskLevel == 'low'}"></div>
        <div class="risk" [ngClass]="{'medium': product.riskLevel == 'medium'}"></div>
        <div class="risk" [ngClass]="{'high': product.riskLevel == 'high'}"></div>
        <div class="risk" ></div> -->
      </ion-col>

      <ion-col sizeLg="2" size="6" class="strategy-risk">
        <h5>rewards</h5>
        <div class="reward-assets">
          <ion-img [src]="reward" *ngFor="let reward of product.rewardAsssets"></ion-img>
        </div>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>