.volt-head {
    background: linear-gradient(107.82deg, #395DF0 20.41%, #FE5B94 107.95%);
    border-radius: 8px;
    min-height: 120px;
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    flex-wrap: wrap;
    .volt-type-wrapper {
        position: absolute;
        top: 5px;
        right: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
    }

    ion-icon {
        font-size: 16px;
    }

    .asset-info {
        display: flex;
        align-items: flex-start;

        app-image-placeholder {
            margin-inline-end: 6px;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            overflow: hidden;
            z-index: 2;
        }

        span {
            font-size: 18px;
        }
    }
    .underline-asset{
        span {
            transform: translate(-14px, 0px);
            font-size: 18px;
        }
        app-image-placeholder:nth-child(2){
            z-index: 0;
            transform: translate(-15px, 4px);
            width: 30px;
            height: 30px;
        }
    }
    .asset-apy {
        font-size: 26px;
        display: flex;
        align-items: self-end;
        font-weight: 900;
        position: relative;
    }
}

.volt-body {
    .deposits {
        margin-block: 10px;
    }

    ion-button {
        width: 100%;
    }

    .tvl-usd {
        margin-block-start: 5px;
    }
}

.volt-type-1 {
    color: rgb(99, 125, 255);
}

.volt-type-2 {
    color: rgb(40, 237, 191);
}

.volt-type-3 {
    color: rgb(255, 192, 3);
}

.volt-type-4 {
    color: rgb(242, 126, 227)
}

.volt-type-5 {
    color: rgb(144, 92, 255);
}


// flip v1
.card {
    width: inherit;
    min-height: 280px;
    perspective: 500px;
    text-transform: capitalize;
}


.tp-box {
    position: relative;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: transform 1s;
    -ms-transform: transform 1s;
    transform: transform 1s;
}

.tp-box__side {
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;


}

.tp-box__front {
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
}

.tp-box__back {
    -webkit-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}

ion-toggle {
    height: 25px;
    width: 50px;
    --handle-height: 25px;
    --handle-width: 25px;
    border: 1px solid #3f51b5;
    border-radius: 17px;
    transition: 0.3s ease all;
    --handle-background: #fff url('/assets/images/icons/friktionBoltColored.png') no-repeat center / 60%;
    --handle-background-checked: #fff url('/assets/images/icons/friktionBoltColored.png') no-repeat center / 60%;
    filter: grayscale(100%);;
    &.toggle-checked{
        filter: grayscale(0%);
    }
}