<div class="tp-wrapper volt card">
  <div class="tp-box" [@flipState]="flip">
    <div class="tp-box__side tp-box__front">
      <div class="volt-head">
        <div class="volt-type-wrapper"  placement="top">
          <ion-toggle (ionChange)="switchToHighVolt($event)" *ngIf="volt.highVoltage || volt.isVoltage" maxWidth="300px" placement="top"
            tooltip="Higher Voltage = increased risk, defined by a higher probability of the option being exercised.">
          </ion-toggle>
        </div>
        <div class="asset-info" [ngClass]="volt.underlineTokenImage ? 'underline-asset' : ''">

          <app-image-placeholder [imagePath]="volt.depositTokenImage"></app-image-placeholder>
          <app-image-placeholder *ngIf="volt.underlineTokenImage" [imagePath]="volt.underlineTokenImage"></app-image-placeholder>

          <span>{{volt.depositTokenSymbol}}</span>
        </div>
        <div class="asset-apy">

          {{volt.apy}}%
          <span>APY</span>
        </div>

      </div>
      <div class="volt-body  ion-margin-top">

        <div class="deposits">
          <ion-row class="ion-justify-content-between ion-margin-bottom ion-align-items-center">
            <div class="heading-3" style="display: flex; align-items:center;">
              Your deposit
            </div>
            <div>
              0
            </div>
          </ion-row>
          <ion-row class="ion-margin-bottom">
            <span class="heading-3">
              Total Deposit:
            </span>
            <ion-progress-bar [value]="progress"></ion-progress-bar>

            <div class="tvl-usd">
              {{volt.tvlUsd| currency}}
            </div>
          </ion-row>
        </div>

        <ng-container *ngIf="isConnected; else elseTemplate">
          <ion-button (click)="toggleFlip()" fill="outline" color="secondary">select volt</ion-button>
        </ng-container>
        <ng-template #elseTemplate>
          <app-wallet-not-connected-state [showBtn]="true"></app-wallet-not-connected-state>
        </ng-template>
      </div>
    </div>
    <div class="tp-box__side tp-box__back">
      <app-volt-popup [volt]="volt" (onFlipVolt)="toggleFlip()"></app-volt-popup>
    </div>
  </div>
</div>
