#segment-header {
    border-bottom: 1px solid rgb(132 141 164 / 20%);
    text-align: center;
    display: block;
    span {
        cursor: pointer;
        font-weight: 500;
        font-size: 14px;
        margin-inline-end: 40px;
        &:last-child{
            margin-inline-end: 0;
        }
        &.active{
            border-bottom: 3px solid var(--ion-color-primary);
            padding-bottom: 7px;
        }
    }
}

#deposit-amount {
    position: relative;

    span {
        cursor: pointer;
        position: absolute;
        color: var(--ion-color-primary);
        z-index: 2;
        right: 15px;
        top: 12px;
    }
}
#volt-info{
    cursor: help;
    span {
        color: var(--ion-color-primary);
        text-decoration: underline;
        align-items: center;
        display: flex;
    }
}
