<ion-grid>
  <ion-row class="line heading-6">
    <ion-col size="2">TYPE</ion-col>
    <ion-col size="2">STATUS</ion-col>
    <ion-col size="2">TIME</ion-col>
    <ion-col size="3.5">ADDRESS</ion-col>
    <ion-col size="2.5">AMOUNT</ion-col>
  </ion-row>
  <ion-row class="tx-record ion-text-capitalize ion-align-items-start" *ngFor="let record of txHistory">
    <ion-col size="2" class="type">
      <span class="table-icon ion-margin-end">
        <ion-icon [class.sent]="record.type == 'sent'" name="arrow-forward-outline"></ion-icon>
      </span>
      <span>{{record.type}}</span>

    </ion-col>
    <ion-col size="2">{{record.status}}</ion-col>
    <ion-col size="2">{{record.time}}</ion-col>
    <ion-col size="3.5"><a href="" target="_blank"> {{record.address}} </a>
  </ion-col>
    <ion-col size="2.5">{{record.amount}}</ion-col>
  </ion-row>
</ion-grid>