:host{
    width: 100%;
}
ion-row{
    height: 100%;
    flex-direction: column;
}
p{
    font-size: 14px;
    text-transform: capitalize;
}
app-wallet-connect{
    width: 165px;
    margin: 0 auto;
}