:host{
    width: 100%;
}
ion-row{
    height: 100%;
    flex-direction: column;
}
p{
    font-size: 14px;
    text-transform: capitalize;
    // height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
app-wallet-connect{
    width: 165px;
    margin: 0 auto;
}