<!-- <ion-row id="wallet-not-connected" class="ion-align-items-center ion-justify-content-center">
  <p> connect your wallet to begin</p>
  <app-wallet-connect></app-wallet-connect>
</ion-row> -->

<ng-container *ngIf="isReady$ | async; else elseTemplate">
  <ion-col size="12">
    <app-loader></app-loader>
  </ion-col>
</ng-container>
<ng-template #elseTemplate>
  <ion-col class="ion-text-center " size="12">
    <p class="ion-margin-bottom" *ngIf="!showBtn || showText">connect your wallet to start</p>
    <app-wallet-connect *ngIf="showBtn"></app-wallet-connect>
  </ion-col>
</ng-template>