<ion-grid class="ion-padding">
  <ion-row class="ion-justify-content-between ion-align-items-center data-box ion-padding">
    <ion-col size="9">
      <ion-row  class="ion-align-items-center">
          <div class="brand-wrapper ion-margin-end">
            <ion-img src="https://jup.ag/svg/jupiter-logo.svg" alt="jupiter logo"></ion-img>
          </div>
        <div>

          <div class="heading-4 ion-text-capitalize">jupiter</div>
          <div class="">swap with ease and best rate over solana network</div>
        </div>
      </ion-row>
    </ion-col>
    <ion-col size="1" >
      <ion-row class="ion-justify-content-center">
        <ion-button color="primary" routerLink="/side-menu/defi/swap">view</ion-button>      
      </ion-row>
    </ion-col>
  </ion-row>
  <ion-row class="ion-justify-content-between ion-align-items-center data-box ion-padding">
    <ion-col size="9">
      <ion-row  class="ion-align-items-center">
          <div  class="brand-wrapper ion-margin-end">
            <ion-img src="/assets/images/icons/secretswap.svg" alt="secretswap logo"></ion-img>
          </div>
        <div>

          <div class="heading-4 ion-text-capitalize">secret swap</div>
          <div class="">next level privacy swapping</div>
        </div>
      </ion-row>
    </ion-col>
    <ion-col size="1" >
      <ion-row class="ion-justify-content-center">
        <ion-button color="primary">view</ion-button>      
      </ion-row>
    </ion-col>
  </ion-row>
</ion-grid>
