<ion-row>

  <ion-col size="5" class="heading-4 ion-margin-bottom ion-text-uppercase">balance history</ion-col>
  <ion-col size="7">
    <ion-radio-group style="display: flex;width: 100%;" class=" ion-text-capitalize ion-justify-content-between ion-align-items-center" value="month">
      
        <ion-radio  value="month"></ion-radio> month
        <ion-radio value="quarterly"></ion-radio> 3 Months
        <ion-radio  value="half-year"></ion-radio> 6 Months
        <ion-radio value="year"></ion-radio> year
        <ion-radio  value="all"></ion-radio> all
    
    </ion-radio-group>
  </ion-col>
</ion-row>
