<ion-grid class="data-box ion-padding">
  <ng-container *ngIf="wallet; else elseTemplate">

    <ion-row id="loyalty-your-score">
      Avaulto loyalty Points
      <ion-col>
        <div>
          <ion-icon name="sparkles-sharp"></ion-icon> 12,001
        </div>
        <div id="private-prize-share">
          your prize pool share
          46 SOL
        </div>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-between">
      <ion-col class="data-box points-breakdown" size="2">
        <app-icon-tooltip tooltip="Native stake SOL + stake account aging"></app-icon-tooltip>
        <div>
          native stake:
        </div>
        <div>
          <ion-icon name="sparkles-sharp"></ion-icon> 1200
        </div>
      </ion-col>
      <ion-col class="data-box points-breakdown" size="2">
        <div>
          marinade direct stake:
        </div>
        <div>
          <ion-icon name="sparkles-sharp"></ion-icon> 5000
        </div>
      </ion-col>
      <ion-col class="data-box points-breakdown" size="2">
        <div>
          MNDE DAO votes:
        </div>
        <div>
          <ion-icon name="sparkles-sharp"></ion-icon> 100
        </div>
      </ion-col>
      <ion-col class="data-box points-breakdown" size="2">
        <div>
          solblaze direct stake
        </div>
        <div>
          <ion-icon name="sparkles-sharp"></ion-icon> 6000
        </div>
      </ion-col>
      <ion-col class="data-box points-breakdown" size="2">
        <div>
          BLZE DAO votes:
        </div>
        <div>
          <ion-icon name="sparkles-sharp"></ion-icon> 0
        </div>
      </ion-col>
    </ion-row>
  </ng-container>
  <ng-template #elseTemplate>
    Connect your wallet to view your score
    <app-wallet-not-connected-state [showBtn]="true"></app-wallet-not-connected-state>
  </ng-template>

</ion-grid>