ion-grid {
    text-transform: capitalize;
}

.private-prize-text {
    color: gold;
    font-size: 16px;
    text-decoration: underline;
}

.points-breakdown{
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 0;
    min-height: 70px;
    app-icon-tooltip {
        position: absolute;
        right: 5px;
        top: 5px;
    }
}
ion-icon{
    color: gold;
}


