.debridge-widget-iframe {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}
.cdk-virtual-dropdown-menu {
    max-height: initial;
    overflow: visible;
    background: black;
}