<ion-content scroll-y style="--background:transparent;">
    <ion-grid class="ion-padding">

        <app-dapp-head name="Marinade" imgPath="/assets/images/icons/MNDE.svg"></app-dapp-head>

        <app-marinade-info-box (onMarinadeInfo)="marinadeInfo = $event"></app-marinade-info-box>
        <ion-row class="ion-justify-content-between">
            <ion-col sizeLg="5.9" size="12" class="data-box ion-padding">
                <ion-row class="ion-margin-bottom" id="stake-apr-box">
                    <div>~{{marinadeInfo?.apy}}% <span>APY</span></div>
                    <p id="">Stake SOL and use mSOL while earning rewards</p>
                </ion-row>
                <ion-row class="ion-text-capitalize">
                    <h4 class="heading-4">choose your way to liquid stake</h4>
                    <ion-row id="btn-controls"
                        class=" ion-align-items-center ion-margin-bottom ion-justify-content-between">

                        <ion-col sizeLg="5.8" sizeMd="12" class="stake-by"
                            [ngClass]="{'selectedStakePath': stakePate == 'sol'}" (click)="selectStakePath('sol')">
                            <div class="select-group">
                                <span>
                                    Deposit SOL
                                </span>
                                <ion-checkbox mode="ios" [checked]="stakePate == 'sol'" color="primary"></ion-checkbox>
                            </div>
                            <span class="sub">
                                {{solBalance}} SOL
                            </span>

                        </ion-col>
                        <ion-col sizeLg="5.8" sizeMd="12" class="stake-by"
                            [ngClass]="{'selectedStakePath': stakePate == 'stakeAcc'}"
                            (click)="selectStakePath('stakeAcc')">
                            <div class="select-group">
                                <span>
                                    Deposit Account
                                </span>
                                <ion-checkbox mode="ios" [checked]="stakePate == 'stakeAcc'" color="primary">
                                </ion-checkbox>
                            </div>
                            <span class="sub">
                                {{(stakeAccounts | async)?.length || 0}} stake accounts
                            </span>

                        </ion-col>
                    </ion-row>
                    <ion-row id="exchange-rate" class="ion-justify-content-between ion-align-items-center">
                        <div style="display: flex; align-items:center;">
                            exchange rate 
                            <ion-icon style="margin-inline-start: 5px;" maxWidth="300px"
                                tooltip="SOL/mSOL exchange rate is determined by a formula: Marinade’s SOL staked / current mSOL supply. Because staked SOL is earning yield, it grows in size vs. mSOL over time. When you swap mSOL back to SOL, you receive more SOL than you staked/swapped before."
                                placement="top" name="alert-circle-outline"></ion-icon>
                        </div>
                        <div>
                            1 mSOL = {{marinadeInfo?.msolRatio}} SOL
                        </div>
                    </ion-row>
                    <ion-row id="exchange-rate" class="ion-justify-content-between ion-align-items-center">
                        <div style="display: flex; align-items:center;">
                            platform fee 
                            <ion-icon style="margin-inline-start: 5px;" maxWidth="300px"
                                tooltip="Marinade partner"
                                placement="top" name="alert-circle-outline"></ion-icon>
                        </div>
                        <div>
                            0%
                        </div>
                    </ion-row>
                </ion-row>
            </ion-col>
            <ion-col sizeLg="5.9" size="12" class="data-box ion-padding">
                <ng-container *ngIf="stakeAccounts | async; else elseTemplate">
                    <app-stake-sol-box *ngIf="stakePate == 'sol'" [marinade]="marinade" [marinadeInfo]="marinadeInfo">
                    </app-stake-sol-box>
                    <app-stake-account-box *ngIf="stakePate == 'stakeAcc'" [stakeAccounts]="stakeAccounts"
                        [marinade]="marinade" [marinadeInfo]="marinadeInfo">
                    </app-stake-account-box>
                </ng-container>
                <ng-template #elseTemplate>
                    <app-wallet-not-connected-state></app-wallet-not-connected-state>
                </ng-template>

            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>