<ion-content scroll-y style="--background:transparent;">
    <ng-container *ngIf="provider$ | async as currentProvider; else elseTemplate">
        <ion-grid class="ion-padding">
            <div id="stake-pool-header">
                <app-dapp-head [name]="currentProvider.poolName"
                    [imgPath]="currentProvider.tokenImageURL"></app-dapp-head>
                <app-swap-provider-btn [selectedProvider]="currentProvider" [providers]="stakePoolStore.providers"
                    (onProviderSelected)="stakePoolStore.selectProvider($event)"></app-swap-provider-btn>
            </div>

            <app-liquid-staking-stats [wallet]="wallet" (onStakePoolStats)="stakePoolStats = $event"
                [selectedProvider]="currentProvider"></app-liquid-staking-stats>
            <ion-row class="ion-justify-content-between ion-align-items-stretch">
                <ion-col sizeLg="5.9" size="12" class="data-box ion-padding">
                    <ion-row class="ion-margin-bottom" id="stake-apr-box">
                        <div>~{{stakePoolStats?.apy | number : '1.2-2'}}% <span>APY</span></div>
                        <p id="">Stake SOL and use {{currentProvider?.tokenSymbol}} while earning rewards</p>
                    </ion-row>
                    <ion-row class="ion-text-capitalize">
                        <h4 class="heading-4">choose your way to liquid stake</h4>
                        <ion-row id="btn-controls"
                            class=" ion-align-items-center ion-margin-bottom ion-justify-content-between">

                            <ion-col sizeLg="5.8" sizeMd="12" class="stake-by"
                                [ngClass]="{'selected-path': stakingType == 'sol'}"
                                (click)="selectStakePath('sol')">
                                <div class="select-group">
                                    <span>
                                        Deposit SOL
                                    </span>
                                    <ion-checkbox mode="ios" [checked]="stakingType == 'sol'"
                                        color="primary"></ion-checkbox>
                                </div>
                                <span class="sub">
                                    {{solBalance | number: '1.2-2'}} SOL
                                </span>

                            </ion-col>
                            <ion-col sizeLg="5.8" sizeMd="12" class="stake-by"
                                [ngClass]="{'selected-path': stakingType == 'account'}"
                                (click)="selectStakePath('account')">
                                <div class="select-group">
                                    <span>
                                        Deposit Account
                                    </span>
                                    <ion-checkbox mode="ios" [checked]="stakingType == 'account'" color="primary">
                                    </ion-checkbox>
                                </div>
                                <span class="sub">
                                    {{(stakeAccounts$ | async)?.length || 0}} stake accounts
                                </span>

                            </ion-col>
                        </ion-row>
                        <ion-row id="exchange-rate" class="ion-justify-content-between ion-align-items-center">

                            <div style="display: flex; align-items:center;">
                                <span>exchange rate</span>
                                <app-icon-tooltip style="margin-inline-start: 5px;" [tip]="tip"></app-icon-tooltip>

                            </div>
                            <div>
                                1 {{currentProvider.tokenSymbol}} = {{stakePoolStats?.assetRatio | number : '1.2-3'}}
                                SOL
                            </div>
                        </ion-row>
                        <ion-row id="exchange-rate" class="ion-justify-content-between ion-align-items-center">
                            <div style="display: flex; align-items:center;">
                                <span>
                                    pool management fee
                                </span>

                            </div>
                            <div>
                                {{currentProvider.commission}}%
                            </div>
                        </ion-row>
                        <ion-row id="exchange-rate" class="ion-justify-content-between ion-align-items-center">
                            <div style="display: flex; align-items:center;">
                                <span>
                                    support MEV rewards
                                </span>

                            </div>
                            <div>
                                {{currentProvider.MEVDelegation}}
                            </div>
                        </ion-row>
                        <ion-row id="exchange-rate" class="ion-justify-content-between ion-align-items-center">
                            <div style="display: flex; align-items:center;">
                                <span>
                                    platform fee
                                </span>

                            </div>
                            <div>
                               
                                <span >
                                    {{currentProvider.commission}}
                                </span>
                            </div>
                        </ion-row>
                    </ion-row>
                </ion-col>

                <ion-col sizeLg="5.9" size="12" class="data-box ion-padding">
                    <ng-container *ngIf="stakeAccounts$ | async; else elseTemplate">

                        <app-stake-sol-box *ngIf="stakingType == 'sol'" [selectedProvider]="currentProvider"
                            [stakePoolStats]="stakePoolStats" [solBalance]="solBalance"
                            [wallet]="wallet">
                        </app-stake-sol-box>
                        <app-stake-account-box *ngIf="stakingType == 'account'" [selectedProvider]="currentProvider"
                            [stakeAccounts]="stakeAccounts$" [stakePoolStats]="stakePoolStats"
                            [wallet]="wallet">
                        </app-stake-account-box>
                    </ng-container>
                    <ng-template #elseTemplate>
                        <app-wallet-not-connected-state></app-wallet-not-connected-state>
                    </ng-template>

                </ion-col>
            </ion-row>
        </ion-grid>
    </ng-container>
    <ng-template #elseTemplate>
        <div id="liquid-stake-provider">

            <div class="data-box ion-padding">
                <h3>Stake pool providers</h3>
                <p class="ion-margin-bottom">Please select a staking pool u wish to join</p>
                <div class="pool-provider data-box ion-padding" *ngFor="let provider of stakePoolStore.providers">
                    <div class="pool-provider-info">
                    <ion-img [src]="provider.tokenImageURL"></ion-img>
                    <div>
                        <ion-text>{{provider.poolName}}</ion-text>
                        <a class="sub" [href]="provider.website">learn more</a>
                    </div>
                    </div>
                    

                    <ion-button (click)="stakePoolStore.selectProvider(provider)" fill="outline" color="secondary">
                        select
                    </ion-button>
                </div>
            </div>
        </div>
    </ng-template>


</ion-content>