// list style
:host{
    background: var(--ion-background-color);
}
#list-on-magic-eden-form{
    ion-label {
        background:black;
        display: flex;
        align-items: center;
        font-size: 18px;
    }
    ion-img {
        width: 130px;
        margin-inline-start: 4px;
    }
    ion-icon,#sol-icon{
        position: absolute;
        right: 10px;
    }


    ion-item{
        text-transform: capitalize;
        --ion-color-base: transparent !important;
        --ion-color-contrast: white !important;
        background: transparent !important;
    }
    ion-datetime {
        --background: var(--deep-background);
        border-radius: 4px;
        box-shadow: rgba(var(--ion-color-rose-rgb), 0.3) 0px 10px 15px -3px;
         ion-item ion-label {
            display: flex;
            align-items: center;
            color: white;
        }
      }

}

