ion-img,ion-skeleton-text {
    overflow: hidden;
    width: 100%;
    max-height: 300px;
}
ion-skeleton-text{
    min-height: inherit ;
}
ion-icon{
    position: absolute;
    right: 0;

    top: 15px;
}