<ion-icon placement="top" *ngIf="!imagePath" name="alert-circle-outline" tooltip="NFT missing data" ></ion-icon>
<ion-skeleton-text style="background-color: white;height: 134px" *ngIf="showSkelaton" animated>
</ion-skeleton-text>
<ion-img (ionImgDidLoad)="showSkelaton = false" #nftImg (ionError)="showSkelaton = false;nftImg.src= '/assets/images/nft-not-found.svg' " [src]="imagePath || '/assets/images/nft-not-found.svg'"></ion-img>
<!-- <ion-icon  *ngIf="!imagePath" name="image-outline"></ion-icon> -->
