<ion-grid>
  <ng-container *ngIf="NftMetadata; else elseTemplate">

    <ion-row id="loan-params" class="ion-justify-content-between ion-align-items-stretch data-box ion-padding">
      <ion-col sizeLg="5.9" size="12">
        <ion-row class="ion-justify-content-between">
          <div class="loan-attr ion-margin-bottom">
            <div class="attr-label ion-text-capitalize sub-strong ">
              liquidity pool address
            </div>
            <div class="attr-value sub">
              {{this.utilsService.addrUtil(NftMetadata.liquidityPool).addrShort}}
            </div>
          </div>
          <div class="loan-attr ion-margin-bottom">
            <div class="attr-label ion-text-capitalize sub-strong">
              collaterization rate
            </div>
            <div class="attr-value ion-text-capitalize sub">
              {{NftMetadata.collaterizationRate }} %
            </div>
          </div>
          <div class="loan-attr ion-margin-bottom">
            <div class="attr-label ion-text-capitalize sub-strong">
              price
            </div>
            <div class="attr-value ion-text-capitalize sub">
              {{NftMetadata.price | number }} ◎
            </div>
          </div>
          <div class="loan-attr ion-margin-bottom">
            <div class="attr-label ion-text-capitalize sub-strong">
              active loans
            </div>
            <div class="attr-value ion-text-capitalize sub">
              {{pool.activeloansAmount | number }}
            </div>
          </div>
          <div class="loan-attr ion-margin-bottom">
            <div class="attr-label ion-text-capitalize sub-strong">
              created at
            </div>
            <div class="attr-value sub">
              {{NftMetadata.createdAt | date }}
            </div>
          </div>
        </ion-row>
      </ion-col>
      <ion-col sizeLg="5.9" size="12">
        <app-tabs [menu]="menu"  (onSelectTab)="tabChanged($event)"></app-tabs>
        <div [ngSwitch]="currentTab" id="liquid-stake-form" class="ion-padding-vertical">
          <form *ngSwitchCase="'deposit'" [formGroup]="lendForm">
            <app-label-layout [layoutConfig]="{title: 'SOL Amount', balance:wallet.balance | number: '1.2-2'}">
             
            </app-label-layout>
            <ion-row id="stake-amount">
              <ion-input class="button-text" formControlName="amount" placeholder="Amount"></ion-input>
              <span class="heading-6" (click)="setMaxAmountSOL()">MAX</span>
            </ion-row>
            <ng-container *ngIf="wallet; else elseTemplate">
              <ion-button (click)="deposit()" [disabled]="formSubmitted || lendForm.invalid" class="ion-text-capitalize">
                Deposit
              </ion-button>
            </ng-container>
            <ng-template #elseTemplate>
              <app-wallet-not-connected-state [showBtn]="true"></app-wallet-not-connected-state>
            </ng-template>
          </form>

          <form *ngSwitchCase="'withdraw'" [formGroup]="lendForm">
            <app-label-layout [layoutConfig]="{title: 'Your Deposit', balance:userDeposit?.depositAmount| number: '1.2-2'}">
             
            </app-label-layout>
            <ion-row id="stake-amount">
              <ion-input class="button-text" formControlName="amount" placeholder="Amount"></ion-input>
              <span class="heading-6" (click)="setMaxAmountSOL()">MAX</span>
            </ion-row>
            <ng-container *ngIf="wallet; else elseTemplate">
              <ion-button (click)="withdaw()" [disabled]="formSubmitted || lendForm.invalid" class="ion-text-capitalize">
                Withdraw
              </ion-button>
            </ng-container>
            <ng-template #elseTemplate>
              <app-wallet-not-connected-state [showBtn]="true"></app-wallet-not-connected-state>
            </ng-template>
          </form>

        </div>
      </ion-col>

    </ion-row>

  </ng-container>
  <ng-template #elseTemplate>
    <ion-row style="min-height: 400px;" class="ion-justify-content-center ion-align-items-center">
      <app-loader></app-loader>
    </ion-row>
  </ng-template>
</ion-grid>