<ion-row class="ion-padding">
  <div id="popup-header">

    <h4 class="heading-4 ion-text-capitalize">target account</h4>
    <div id="current-account">
      <app-account [account]="account"></app-account>
    </div>

    <h4 class="heading-4 ion-text-capitalize">select accounts to merge</h4>
    <ion-row id="tip" class="data-box ion-padding">
      <fa-icon size="lg" [icon]="infoIcon"></fa-icon>
      <span>only stake accounts with active status & the same validator can be merged</span>
    </ion-row>

  </div>
  <div id="popup-body" class="ion-margin-bottom">
    <ng-container *ngIf="accountsToMerge.length > 0; else elseTemplate">
      <div id="selectable-accounts-list" class="data-box">
        <ion-item *ngFor="let account of accountsToMerge" slot="header" button style="--background:transparent;">
          <app-account [mergeCondition]="true" (onClickAccount)="storeSelection($event)"
            [account]="account"></app-account>
        </ion-item>
      </div>
    </ng-container>
    <ng-template #elseTemplate class="ion-text-capitalize">
      no available stake accounts to merge
    </ng-template>
  </div>
  <ion-button (click)="mergeAccounts()" [disabled]="selectedAccounts.length == 0">Merge selected accounts</ion-button>
</ion-row>