ion-grid{
    // text-transform: capitalize;
}
ion-icon{
    color: gold;
}
app-item{
    display: block;
    width: 100%;
    margin-block: 3px;
}
.leader-board {
    margin-bottom: 8px;
    text-transform: capitalize;
ion-col{
    text-align: left;
}}

#leader-board-table{
    max-height: 350px;
    overflow-y: auto;
    height: 400px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.myRank{    
    position: sticky;
    bottom: 0;
    top: 0;
    background:var( --apr-box);
    z-index: 2;
}