<ion-row id="preview-wrapper" class="ion-padding-vertical ion-justify-content-start">
  <ion-col size="12" sizeMd="6">
    <ion-row class="ion-margin-bottom">
      <div class="col-group ">
        <ion-img
          src="https://shdw-drive.genesysgo.net/52zh6ZjiUQ5UKCwLBwob2k1BC3KF2qhvsE7V4e8g2pmD/Ode%20to%20those%20still%20here.jpg"></ion-img>
        <span class="ion-margin-start heading-4">Avaulto gurdians</span>
      </div>
      <!-- <ion-col size="2">
              <ion-img [src]="NFT.collectionImage"></ion-img>
          </ion-col>
          <ion-col size="9">
              {{NFT.collectionName}}
          </ion-col> -->
    </ion-row>
    <ion-row class="heading-1 ion-margin-bottom">Solara</ion-row>
    <ion-row class="gray-title ion-text-capitalize">description</ion-row>
    <ion-row id="nft-desc" class="ion-margin-bottom">In the realm of Solano,
      Solara entrusted her SOL tokens to the mighty Avaulto node.
      Their union amplified her stake, safeguarding it with unwavering devotion. Together,
      they embarked on a journey to protect and nurture her precious investment.</ion-row>
    <ion-row class="ion-margin-bottom ion-align-items-center">

      <div id="art-icon">
        <ion-icon name="color-palette-outline"></ion-icon>
      </div>

      <div id="token-address" class="ion-text-capitalize">
        <span class="gray-title">token address:</span> <br>
        <span >H2V1oE7L1Vz6nbeLddJoVCCuzDBbBaTiP6bKFDEccdpP</span>
      </div>

    </ion-row>
    <ion-row class="gray-title ion-text-capitalize ion-margin-bottom ">Attributes</ion-row>
    <ion-row id="attr-grid">

      <div class="nft-attr ion-margin-bottom"  *ngFor="let attr of nftAttr | keyvalue">
        <div>{{attr.key}}</div>
        <span>{{attr.value}}</span>
      </div>
    
    </ion-row>

  </ion-col>
  <ion-col  size="12" sizeMd="6" style="display: flex;" class="ion-margin-bottom ion-align-items-center">
    <div class="ion-hide-lg-down ion-padding-start" ></div>

    <ion-img
      [src]="demoNft"
      alt="NFT img"></ion-img>
  </ion-col>
</ion-row>