<ion-row class="data-box ion-padding ion-justify-content-start">
  <ion-col size="12" sizeMd="6" class="ion-padding">
    <ion-row class="ion-margin-bottom">
      <div class="col-group">
        <ion-img
          src="https://shdw-drive.genesysgo.net/52zh6ZjiUQ5UKCwLBwob2k1BC3KF2qhvsE7V4e8g2pmD/Ode%20to%20those%20still%20here.jpg"></ion-img>
        <span class="ion-margin-start heading-4">Avaulto gurdians</span>
      </div>
      <!-- <ion-col size="2">
              <ion-img [src]="NFT.collectionImage"></ion-img>
          </ion-col>
          <ion-col size="9">
              {{NFT.collectionName}}
          </ion-col> -->
    </ion-row>
    <ion-row class="heading-1 ion-margin-bottom">Solara</ion-row>
    <ion-row class="heading-4 ion-text-capitalize ion-margin-bottom">description</ion-row>
    <ion-row class="ion-margin-bottom">In the realm of Solano,
      Solara entrusted her SOL tokens to the mighty Avaulto node.
      Their union amplified her stake, safeguarding it with unwavering devotion. Together,
      they embarked on a journey to protect and nurture her precious investment.</ion-row>
    <ion-row class="ion-margin-bottom ion-align-items-center">

      <div id="art-icon" class="ion-margin-end">
        <ion-icon name="color-palette-outline"></ion-icon>
      </div>

      <div class="ion-text-capitalize">
        token address: <br>
        <ion-col size="12" class="sub">H2V1oE7L1Vz6nbeLddJoVCCuzDBbBaTiP6bKFDEccdpP</ion-col>
      </div>

    </ion-row>
    <ion-row class="heading-4 ion-text-capitalize ion-margin-bottom">Attributes</ion-row>
    <ion-row id="attr-grid">
      <div class="nft-attr ion-margin-bottom">
        <div class="sub-strong">gender</div>
        <span class="sub">fembot</span>
      </div>
      <div class="nft-attr ion-margin-bottom">
        <div class="sub-strong">weapon</div>
        <span class="sub rank-4">shiny sword</span>
      </div>
      <div class="nft-attr ion-margin-bottom">
        <div class="sub-strong">armor</div>
        <span class="sub rank-2">brave armor</span>
      </div>
      <div class="nft-attr ion-margin-bottom">
        <div class="sub-strong">gloves</div>
        <span class="sub rank-2">wisdom gloves</span>
      </div>
      <div class="nft-attr ion-margin-bottom">
        <div class="sub-strong">helmet</div>
        <span class="sub rank-3">shiny helmet</span>
      </div>
      <div class="nft-attr ion-margin-bottom">
        <div class="sub-strong">guardian tier</div>
        <span class="sub rank-3">3</span>
      </div>
      <div class="nft-attr ion-margin-bottom">
        <div class="sub-strong">amount stake</div>
        <span class="sub">500 ◎</span>
      </div>
    </ion-row>

  </ion-col>
  <ion-col  size="12" sizeMd="6" style="display: flex;" class="ion-align-items-center">
    <ion-img
      src="https://openai-labs-public-images-prod.azureedge.net/user-bpyXZqTG1b1nFQwhJ358lGb2/generations/generation-N2QjuV6SxF9TqmBcjkj5CWL0/image.webp"
      alt="NFT img"></ion-img>
  </ion-col>
</ion-row>