ion-button,ion-icon{
    display: block;
    position: absolute;
    top: 0;
    right: 0;
}
ion-button{
    width: 35px;
    height: 35px;
}
ion-icon{
    top: 9px;
    right: 9px;
    font-size: 16px;
}