

swiper-container {
    --swiper-pagination-bullet-inactive-color: var(--ion-color-step-200, #cccccc);
    --swiper-pagination-color: var(--ion-color-primary, #3880ff);
    --swiper-pagination-progressbar-bg-color: rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.25);
    --swiper-scrollbar-bg-color: rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.1);
    --swiper-scrollbar-drag-bg-color: rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.5);
  }
  swiper-container::part(wrapper){
    padding-bottom: 38px;
  }
  swiper-slide {
    // display: flex;
    // position: relative;
  
    // flex-direction: column;
    // flex-shrink: 0;
    // align-items: center;
    // justify-content: center;
  
    // width: 100%;
    // height: 100%;
  

    // text-align: center;
    // box-sizing: border-box;

    
  }

  swiper-slide img {
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 100%;
  }
