<ion-content scroll-y style="--background:transparent;">
  <ion-grid class="ion-padding">
    <ion-row class=" ion-align-items-center data-box">

      <ng-container *ngIf="walletExtended$ | async as walletExtended; else elseTemplate">
        <ion-col class="ion-padding">
          <ion-row class="ion-align-items-center">
            <div class="ion-margin-end">
              <div class="walletQR">
                <qrcode [qrdata]="walletExtended.addressUtil.addr" [allowEmptyString]="true" [width]="78"
                  [errorCorrectionLevel]="'M'">
                </qrcode>

              </div>
            </div>
            <div>
              <ion-row class=" ion-align-items-center">

                <div class="heading-4 ion-margin-end">{{walletExtended.addressUtil.addrShort}}</div>
                <ion-icon name="copy-outline" appCopyText [copyText]="walletExtended.addressUtil.addr"
                  class="ion-margin-end"></ion-icon>
                <a [href]="utilsService.explorer + '/account/'+ walletExtended.addressUtil.addr" target="_blank">
                  <ion-icon name="link-outline"></ion-icon>
                </a>
              </ion-row>
              <ion-row>
                <div class="heading-2">{{walletTotalValue.solValue | number: '1.2-2'}} ◎</div>
              </ion-row>
              <ion-row>
                <div class="heading-6">{{walletTotalValue.usdValue | currency}}</div>
              </ion-row>
            </div>
          </ion-row>
        </ion-col>
      </ng-container>
      <ng-template #elseTemplate>
        <app-wallet-not-connected-state></app-wallet-not-connected-state>
      </ng-template>
    </ion-row>



    <ion-row class="ion-justify-content-between ion-align-items-start">
      <ion-col size="12" sizeLg="7.5">
        <div class="data-box ion-padding">

          <app-tx [wallet]="walletExtended$ | async"></app-tx>


        </div>

      </ion-col>



      <ion-col size="12" sizeLg="4">
        <div class="data-box ion-padding">
          <div class="heading-4 ion-margin-bottom ion-text-uppercase">{{(assets | async)?.length}} tokens</div>
          <ng-container *ngIf="assets | async as assets; else elseTemplate">
            <div id="assets-list">
              <!-- <ion-item button detail="false" *ngFor="let asset of tokens"> -->
                <app-assets-balance *ngFor="let asset of assets" [asset]="asset"></app-assets-balance>
              <!-- </ion-item> -->
            </div>
            <ion-row class="ion-justify-content-center ion-margin-top">
              <ion-button (click)="openSwapSmallBalancePopup()" fill="outline">Convert Small Balance to
                SOL</ion-button>
            </ion-row>
          </ng-container>
          <ng-template #elseTemplate>
            <app-wallet-not-connected-state></app-wallet-not-connected-state>
          </ng-template>
        </div>
      </ion-col>

    </ion-row>
    <ion-row class="ion-justify-content-between ion-align-items-start">
      <ion-col size="12" sizeLg="7.5" class=" data-box ion-padding">
        <div id="nft-header-preview" class="ion-margin-bottom">
          <div class="heading-4 ion-text-uppercase">NFTs</div>
          <ion-button routerLink="/nft-gallery" routerDirection="forward">view all</ion-button>
        </div>
        <ion-row id="nft-gallery-preview">
          <ng-container *ngIf="myNfts | async as nfts; else elseTemplate">
            <ion-col size="12" sizeLg="4" *ngFor="let nft of nfts">
              <app-nft-preview [nft]="nft"></app-nft-preview>
            </ion-col>
          </ng-container>
          <ng-template #elseTemplate>
            <app-wallet-not-connected-state></app-wallet-not-connected-state>
          </ng-template>
        </ion-row>
      </ion-col>
    </ion-row>



  </ion-grid>
</ion-content>