<ion-content scroll-y style="--background:transparent;">
    <ion-grid class="ion-padding">
        <ion-row class="ion-justify-content-between">
            <ion-col class="data-box ion-padding" sizeMd="2.8" sizeSm="5">

                <app-data-box [title]="'delegators'" [loading]="(getValidatorInfo | async)?.delegetors == null"
                    [desc]="(getValidatorInfo | async)?.delegetors?.length">
                </app-data-box>
            </ion-col>
            <ion-col class="data-box ion-padding" sizeMd="2.8" sizeSm="5">
                <app-data-box [title]="'stake'" [loading]="(getValidatorInfo | async) == null"
                    [desc]="(getValidatorInfo | async)?.activated_stake | number: '1.2-2'">
                </app-data-box>
            </ion-col>
            <ion-col class="data-box ion-padding" sizeMd="2.8" sizeSm="5">
                <app-data-box [title]="'validator rank'" [loading]="(getValidatorInfo | async)?.rank == null"
                    [desc]="(getValidatorInfo | async)?.rank?.rank + '/' + (getValidatorInfo | async)?.rank?.numOfValidators">
                </app-data-box>
            </ion-col>
            <ion-col class="data-box ion-padding" sizeMd="2.8" sizeSm="5">
                <app-data-box [title]="'uptime'" [loading]="(getValidatorInfo | async) == null"
                    [desc]="(getValidatorInfo | async)?.uptime+'%'">
                </app-data-box>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col id="delegate-with-us" class="data-box ion-padding" size="12">
                <p>Stake your SOL with us and earn an impressive {{apy}}% APY yield on your SOL, while supporting us to create new features & increase decentralization.</p>
            </ion-col>
        </ion-row>
        <ion-row class="ion-justify-content-center">
            <ion-col size="12" sizeMd="7" class="data-box ion-padding">
                <app-stake [validatorsData]="getValidatorInfo" [privateValidatorPage]="true" [avgApy]="apy"
                    [wallet]="wallet"></app-stake>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>