<ion-content scroll-y style="--background:transparent;">
    <ion-grid class="ion-padding">
        <ion-row class="ion-justify-content-between">
            <ion-col class="data-box ion-padding" sizeMd="2.8" sizeSm="5">

                <app-data-box [title]="'delegators'" [loading]="(getValidatorInfo | async)?.delegetors == null"
                    [desc]="(getValidatorInfo | async)?.delegetors?.length">
                </app-data-box>
            </ion-col>
            <ion-col class="data-box ion-padding" sizeMd="2.8" sizeSm="5">
                <app-data-box [title]="'stake'" [loading]="(getValidatorInfo | async) == null"
                    [desc]="(getValidatorInfo | async)?.activated_stake | number: '1.2-2'">
                   
                </app-data-box>
            </ion-col>
            <ion-col class="data-box ion-padding" sizeMd="2.8" sizeSm="5">
                <app-data-box [title]="'validator rank'" [loading]="(getValidatorInfo | async)?.rank == null"
                    [desc]="(getValidatorInfo | async)?.rank?.rank + '/' + (getValidatorInfo | async)?.rank?.numOfValidators">
                </app-data-box>
            </ion-col>
            <ion-col class="data-box ion-padding" sizeMd="2.8" sizeSm="5">
                <app-data-box [title]="'uptime'" [loading]="(getValidatorInfo | async) == null"
                    [desc]="(getValidatorInfo | async)?.uptime+'%'">
                </app-data-box>
            </ion-col>
        </ion-row>
        <ion-row class="ion-justify-content-between ion-align-items-start">
            <ion-col size="12" sizeMd="7.5" class="data-box ion-padding">
                <app-stake [validatorsData]="getValidatorInfo" [privateValidatorPage]="true"></app-stake>
            </ion-col>
            <ion-col size="12" sizeMd="4" class="data-box ion-padding">
                <div class="heading-4 ion-text-uppercase">Your Native Stake</div>

                <app-accounts class="ion-margin-bottom" [privateValidatorPage]="true"></app-accounts>


                <div *ngIf="getStakePoolDirectStake$ | async as stakePoolDS;">
                    <div class="heading-4 ion-text-uppercase" >Your Liquid Stake <app-icon-tooltip tip="Liquid direct stake is updated once per epoch"></app-icon-tooltip></div>
                    <ion-item *ngFor="let ds of stakePoolDS">
                        <div id="liquid-stake-assets">

                            <app-image-placeholder class="table-icon" [imagePath]="ds.image"></app-image-placeholder>

                            <div class="sub">
                                {{ds.amount | number: '1.2-2'}}
                                {{ds.symbol}}
                            </div>
                        </div>
                    </ion-item>
                </div>


            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>