.data-box {
    min-width: 200px;
}
#delegate-with-us{
    min-height: auto;
    p{
        color: var(--ion-text-color);
    }
}

.stake-change {
    padding: 2px 4px;
    font-size: 12px;
    margin-inline-start: 8px;
    background: var(--ion-color-tertiary);
    border-radius: 5px;
    width: 51px;
    height: 29px;
    display: flex;
    align-items: center;
    justify-content: center;

    &.stake-change-up{
        background: var(--ion-color-success);
    }
    &.stake-change-down{
        background: var(--ion-color-tertiary);
    }
}


// current stake STYLE
::ng-deep{
    .account-status.validator-stake, .validator-info{
        display: none !important;
    }
}

ion-item{
    --background: transparent;
    --border-color: #00000052;
}
#liquid-stake-assets {
    display: flex;
    justify-content: space-between;
    width: 95%;
    align-items: center;
}
.table-icon {
    width: 26px;
    height: 26px;
    margin-inline-end: 10px;
    overflow: hidden;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
