ion-radio-group span{
    display: flex;
    align-items: center;
}
#chart-unavailable{
    display: block;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
#power-by-coingeco{
    text-align: center;
    width: 100%;
}
ion-icon{
    font-size: 100px;
}