<div id="craft-wrapper">
  <ion-row id="craft-intro"
    class="ion-justify-content-around ion-text-capitalize on-align-items-center ion-margin-bottom">
    <ion-col size="4">
      <h1 class="craft-head" style="color: rgb(255, 132, 90);">STAKE.</h1>
      <p class="sub">no smart contract risk</p>
    </ion-col>
    <ion-col size="4">
      <h1 class="craft-head" style="color: rgb(253, 73, 173);">EARN.</h1>
      <p class="sub">stake reward + MEV + NFT perks</p>
    </ion-col>
    <ion-col size="4">
      <h1 class="craft-head" style="color: rgb(12, 218, 196);">FUN.</h1>
      <p class="sub">be a loyal member of Avaulto, decide what next</p>
    </ion-col>

  </ion-row>

  <app-generator></app-generator>
  <app-my-guardian-tumb></app-my-guardian-tumb>
  <app-faq></app-faq>
  </div>