:host{
    display: block;
}

#select-box-options {
    margin-top: 6px;
    background: var(--deep-background);
    border-radius: 4px;
}

#search-box {
    position: relative;
    width: 92%;
    margin: 0 auto;
    padding: 10px 0;

    ion-input {
        border: 1px solid var(--ion-color-primary);
        border-radius: 4px;
        height: 38px;
        margin: 0 auto;
    }

}

#list-of-items {
    --background: transparent;
    height: 154px;
}
ion-item{
    border-bottom: 1px solid rgba(132, 141, 164, 0.2);
    margin-bottom: 6px;
    padding-bottom: 6px;
}
cdk-virtual-scroll-viewport {
    height: 100%;
    width: 100%;
  }