<div id="select-box-options" *ngIf="!disabled">
  <div class="nodes" id="search-box" *ngIf="searchTerm">
    <app-search-input (search)="searchItem($event)" [placeholder]="'search'" ></app-search-input>
  </div>

  <ion-content id="list-of-items">
    <app-loader *ngIf="(dataset | async) == null"></app-loader>
    <div style="text-align: center;" *ngIf="(dataset | async)?.length == 0">
      No results
    </div>
    <ion-virtual-scroll [items]="dataset | async | filter: filterBy:searchTerm "
      approxItemHeight="54px">
      <div *virtualItem="let item">
        <app-select-item [item]="item" [searchTerm]="searchTerm" (onSelect)="setSelectedItem($event)"
          [showDropDownIcon]="false">

        </app-select-item>
      </div>
    </ion-virtual-scroll>
  </ion-content>

</div>