<div id="select-box-options" *ngIf="!disabled">
  <div class="nodes" id="search-box">
    <app-search-input (search)="searchItem($event)" [placeholder]="'search'"></app-search-input>
  </div>

  <ion-content id="list-of-items">
    <app-loader *ngIf="(dataset | async) == null"></app-loader>
    <div style="text-align: center;" *ngIf="(dataset | async)?.length == 0">
      No results
    </div>

    <cdk-virtual-scroll-viewport itemSize="56" minBufferPx="900" maxBufferPx="1350">
      <ion-list>
        <ion-item *cdkVirtualFor="let item of dataset | async | filter: filterBy:searchTerm">
          <app-select-item [item]="item" [searchTerm]="searchTerm" (onSelect)="setSelectedItem($event)"
          [showDropDownIcon]="false">

        </app-select-item>
        </ion-item>
      </ion-list>
    </cdk-virtual-scroll-viewport>


  </ion-content>

</div>