ion-button {
    width: 100%;
    letter-spacing: 1.5px;

    span {
        margin-inline-start: 4px;
    }

    ion-img {

        width: 15px;
    }
}


ul {
    background-color: var(--deep-background);
    border: 1px solid var(--ion-color-primary);
    border-radius: 4px;
    padding: 12px;

    li {
        height: 40px;
        color: white;
        align-items: center;
        display: flex;
        cursor: pointer;
        border-bottom: 1px solid rgb(132 141 164 / 20%);
        text-transform: capitalize;
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
       
        &:hover {
            font-weight: 600;
            -webkit-filter: grayscale(0%);
            filter: grayscale(0%);

        }

        ion-img {
            margin-inline-end: 8px;

            width: 25px;
        }
    }
}