<ion-button class="ion-hide-lg-down" fill="outline" expand="block" id="click-trigger">
  <ion-img [src]="selectedProvider?.image"></ion-img>
  <span> {{selectedProvider?.name}} </span>
</ion-button>

<ion-popover trigger="click-trigger" triggerAction="click" [dismissOnSelect]="true">
  <ng-template>
      <ul>
        <li class="sub" *ngFor="let provider of providers" (click)="onProviderSelected.emit(provider)">
          <ion-img [src]="provider.image"></ion-img>
          <span> {{provider.name}} </span>
        </li>
      </ul>
  </ng-template>
</ion-popover>