

#wallet-adapters-wrapper{
  ion-title{
    font-size: 18px;
  }
  background-color: var(--deep-background);
  border: 1px solid var(--ion-color-primary);
  border-radius: 4px;
  padding: 12px;
}
#wallet-adapter-opt-header {
  display: flex;
  margin-bottom: 16px;
  text-align: center;
  align-items: center;
  justify-content: space-between;
}
#wallet-connected-actions {

  ion-avatar {
    width: 40px;
    height: 40px;
    margin-inline-end: 12px;
  }

  li {
    padding: 10px;
    cursor: pointer;
    color: white;
    align-items: center;
    display: flex;
    cursor: pointer;
    border-bottom: 1px solid rgb(132 141 164 / 20%);
    text-transform: capitalize;
    &:hover {
   
      font-weight: 600;
      
    }
  }
}