<div id="wallet-adapters-wrapper">
  <div id="wallet-adapter-opt-header">
    <div class="ion-text-center heading-3">Choose wallet to connect</div>
    <ion-buttons slot="end">
      <ion-button (click)="popoverController.dismiss()">
        <ion-icon style="font-size: 30px;" name="close-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </div>
<ul id="wallet-connected-actions">
  <li (click)="onSelectWallet(opt.adapter.name)" *ngFor="let opt of walletsOptions$ | async">
    <ion-avatar slot="start">
      <ion-img [src]="opt.adapter.icon"></ion-img>
    </ion-avatar>

      {{opt.adapter.name}}

  </li>
</ul>
</div>