<ion-grid>
  <ion-row class="ion-nowrap ">
    <ion-col size="2" id="side-menu">

      <div id="logo-wrapper">
        <app-logo></app-logo>
      </div>
      <div id="routes-wrapper">
        <div *ngFor="let p of pages">
          <ion-item class="menu-item" button [routerLink]="p.url" routerLinkActive="active">
            <fa-icon [icon]="p.icon" size="xs" *ngIf="!p.open"></fa-icon>

            <ion-label>
              {{ p.title }}
            </ion-label>
          </ion-item>
          <ion-list>
            <ion-item *ngFor="let sub of p?.children" class="menu-item" [routerLink]="sub.url"
              routerLinkActive="active">
              <div class="menu-icon">
                <fa-icon [icon]="sub.icon" size="xs"></fa-icon>
              </div>
              <div class="wallet-info">
                <ion-label>
                  {{ sub.title }}
                </ion-label>
                <ion-label class="balance-sub">
                  {{sub.sub}}
                </ion-label>
              </div>
            </ion-item>
          </ion-list>
        </div>
        <div id="footer-menu">
          <ion-item>
            <ion-radio-group (ionFocus)="selectCurrency($event)" class="menu-item" id="currency-switch" value="BTC">
              <span>Currency</span>
             
                <ion-radio  value="BTC"></ion-radio> BTC
           
                <ion-radio value="USD"></ion-radio> USD
              

            </ion-radio-group>
          </ion-item>
          <ion-item id="profile-item">

            <fa-icon [icon]="profileIcon" size="xs"></fa-icon>
            <ion-label>
              profile
            </ion-label>
          </ion-item>
        </div>
      </div>

    </ion-col>
    <ion-col size="10">
      <ion-router-outlet id="content"></ion-router-outlet>
    </ion-col>
  </ion-row>
</ion-grid>