<ion-content scroll-y style="--background:transparent;">
  <ion-grid class="ion-padding" style="margin-bottom: 50px;">
    <app-stats></app-stats>
    <ion-row class="ion-justify-content-between ion-align-items-center">
      <app-tabs [menu]="menu" [currentTab]="currentTab" (onSelectTab)="tabChange($event)"></app-tabs>
    </ion-row>
    <ion-row>
      <ng-container [ngSwitch]="currentTab">
        <app-my-guardian *ngSwitchCase="'my-guaridan'" (onSelectTab)="tabChange($event)"
          [wallet]="wallet$ | async"></app-my-guardian>
        <app-crafter *ngSwitchCase="'crafter'" [wallet]="wallet$ | async"></app-crafter>
      </ng-container>


    </ion-row>
  </ion-grid>
</ion-content>