<ion-content scroll-y style="--background:transparent;">
  <ion-grid class="ion-padding">
    <ion-row id="token-swap-header" class="ion-align-items-center ion-margin-bottom">
      <div class="ion-margin-end">
        <span class="heading-1">Powered by</span>
      </div>
      <div id="friktion-logo">
        <ion-img src="/assets/images/icons/friktionBoltColored.png"></ion-img>
        <span class="heading-1">Friktion</span>
      </div>
    </ion-row>
    <app-friktion-info [friktionInfo]="friktionInfo"></app-friktion-info>

    <ion-row id="tool-box" class="ion-margin-bottom ion-justify-content-between ion-align-items-center">
      <div id="search-box">
        <app-search-input (search)="searchVolt($event)" [placeholder]="'Filter by symbol'"></app-search-input>
      </div>
      <div id="filter-buttons" class="ion-hide-md-down">
        <div class="button-group">

          <ion-button id="volt-type-1" (click)="filterVolt(0)" [class]="voltsFilter.includes(0) ? 'volt-type-1-bg' : ''"
            fill="outline">
            Generate Income
          
          </ion-button>
          <!-- <ion-icon slot="end" name="alert-circle-outline" maxWidth="300px" placement="top"
          tooltip="generates income by running an automated covered call strategy and collecting the option premium. Deposits are deployed in the upcoming Epoch and earnings are auto-compounded weekly.">
        </ion-icon> -->
        </div>
        <div class="button-group">
          <ion-button id="volt-type-2" (click)="filterVolt(1)" [class]="voltsFilter.includes(1) ? 'volt-type-2-bg' : ''"
            fill="outline">
            Sustainable Stables
          </ion-button>
          <!-- <ion-icon slot="end" name="alert-circle-outline" maxWidth="300px" placement="top" tooltip=""></ion-icon> -->
        </div>
        <div class="button-group">
          <ion-button id="volt-type-3" (click)="filterVolt(2)" [class]="voltsFilter.includes(2) ? 'volt-type-3-bg' : ''"
            fill="outline">
            Crab Strategy
          </ion-button>
          <!-- <ion-icon slot="end" name="alert-circle-outline" maxWidth="300px" placement="top" tooltip=""></ion-icon> -->
        </div>
        <div class="button-group">
          <ion-button id="volt-type-4" (click)="filterVolt(3)" [class]="voltsFilter.includes(3) ? 'volt-type-4-bg' : ''"
            fill="outline">
            Basis Yield
          </ion-button>
          <!-- <ion-icon slot="end" name="alert-circle-outline" maxWidth="300px" placement="top" tooltip=""></ion-icon> -->
        </div>
        <div class="button-group">
          <ion-button id="volt-type-5" (click)="filterVolt(4)" [class]="voltsFilter.includes(4) ? 'volt-type-5-bg' : ''"
            fill="outline">
            Capital Protection
          </ion-button>
          <!-- <ion-icon slot="end" name="alert-circle-outline" maxWidth="300px" placement="top" tooltip=""></ion-icon> -->

        </div>
      </div>
    </ion-row>
    <ion-row class="ion-justify-content-between ion-align-items-start">
      <ion-col *ngFor="let volt of voltsData | async | filter: 'depositTokenSymbol':searchTerm"
        class="data-box ion-padding" sizeMd="3.8" sizeSm="5">
        <app-volt [volt]="volt" [isConnected]="isReady$ | async"></app-volt>
      </ion-col>
    </ion-row>
    <app-loader *ngIf="(voltsData | async).length == 0"></app-loader>
  </ion-grid>
</ion-content>