#segment-header {
    border-bottom: 1px solid rgb(132 141 164 / 20%);
    text-align: center;
    padding-top: 21px;
    padding-bottom: 10.5px;

    span {
        cursor: pointer;
        font-weight: 500;
        font-size: 14px;
        margin-inline-end: 40px;

        &:last-child {
            margin-inline-end: 0;
        }

        &.active {
            border-bottom: 3px solid var(--ion-color-primary);
            padding-bottom: 7px;
        }
    }
}


#balance {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#stake-amount {
    position: relative;

    span {
        cursor: pointer;
        position: absolute;
        color: var(--ion-color-primary);
        z-index: 2;
        right: 15px;
        top: 12px;
    }
}


#recive-amount {
    position: relative;

    span {
        position: absolute;
        z-index: 3;
        right: 15px;
        top: 12px;
    }
}

#unstake-it {
    width: 210px;
    display: block;
    margin: 0 auto;
    text-align: center;
}


#cls-wrapper {
    position: relative;

    ion-button {
        position: absolute;
        top: -11px;
        right: 0;
        width: 68px;
    }
}

.cls-btn {
    height: 20px;
    color: white;
    border-bottom: 1px dashed;
    margin-bottom: 10px;
    --padding-start: 0;
    text-align: inherit;

    div {
        width: 100%;
    }
}