<div id="segmented-util" >
  <div id="segment-header" class="ion-text-uppercase">
      <span (click)="setUtil('stake')" [class.active]="segmentUtilTab == 'stake'">liquid stake</span>
      <span (click)="setUtil('unstake')" [class.active]="segmentUtilTab == 'unstake'">liquid
          unstake</span>
  </div>
  <div [ngSwitch]="segmentUtilTab" id="liquid-stake-form" class="ion-padding-vertical">
      <form *ngSwitchCase="'stake'">
          <app-label-layout [layoutConfig]="{title: 'SOL Amount', balance:solBalance, toolTip:'A ◎ 0.0001 is reduced from maximum balance to prevent missing tx fee.'}">
          </app-label-layout>
          <ion-row id="stake-amount" style="margin-bottom:8px;">
              <ion-input class="button-text" [ngModelOptions]="{standalone: true}" [(ngModel)]="stakeAmount" placeholder="Amount"></ion-input>
              <span class="heading-6" (click)="setMaxAmountSOL()">MAX</span>
          </ion-row>
          <ion-row style="margin-bottom:8px" class="heading-6 ion-justify-content-between">
              <div id="">You will receive</div>
          </ion-row>

          <ion-row id="recive-amount" style="margin-bottom:8px;">
              <ion-input readonly [value]="((stakeAmount || 0) / stakePoolStats?.assetRatio) | number : '1.2-3'">
              </ion-input>
              <span>
                  {{selectedProvider.ticker}}
              </span>
          </ion-row>
          <ion-row class="ion-justify-content-center">
              <!-- <app-loader></app-loader> -->
              <ion-button (click)="liquidStake()" [disabled]="!stakeAmount" class="ion-text-capitalize">
                  deposit SOL
              </ion-button>
          </ion-row>
      </form>
      <form *ngSwitchCase="'unstake'">

        <app-label-layout [layoutConfig]="{title: selectedProvider.ticker + ' Amount', balance:xSOLBalance | number  : '1.2-3'}"></app-label-layout>


          <ion-row id="stake-amount" style="margin-bottom:8px;">
              <ion-input class="button-text" [ngModelOptions]="{standalone: true}" [(ngModel)]="unStakeAmount" placeholder="Amount"></ion-input>
              <span class="heading-6" (click)="setMaxAmountxSOL()">MAX</span>
          </ion-row>
          <app-label-layout [layoutConfig]="{title: 'You will receive', toolTip:'you will receive SOL in a form of stake account, in order to unlock your SOL you need to unstake this account and wait till epoch end to fully acquire it'}">
          </app-label-layout>

          <ion-row id="sol-recive-amount" style="margin-bottom:8px;">
              <ion-input readonly [value]="((unStakeAmount || 0 ) * stakePoolStats?.assetRatio) | number : '1.2-3'">
              </ion-input>
          </ion-row>
          <ion-row class="sub">
              Unstake fee: from 0.3%
          </ion-row>
          <ion-row class="ion-justify-content-center">
              <!-- <app-loader></app-loader> -->
              <ion-button (click)="liquidUnstake()" [disabled]="!unStakeAmount"
                  class="ion-text-capitalize">
                  Withdraw SOL
              </ion-button>
            </ion-row>
            <span class="sub" id="unstake-it">looking for Instantly unstake your SOL? Check <a target="_blank" href="https://www.unstake.it">unstake.it</a></span>

      </form>
  </div>
</div>