<div id="segmented-util">

    <app-tabs [menu]="menu" (onSelectTab)="currentTab = $event"></app-tabs>


    <div [ngSwitch]="currentTab" id="liquid-stake-form" class="ion-padding-vertical">
        <form *ngSwitchCase="'stake'" [formGroup]="stakeForm">
            <app-label-layout [layoutConfig]="{title: 'SOL Amount', balance:solBalance | number: '1.2-2'}">
                <app-icon-tooltip [position]="tooltippos"
                    tip="A 0.001 ◎ is reduced from maximum balance to prevent transaction failure."></app-icon-tooltip>
            </app-label-layout>
            <ion-row id="stake-amount">
                <ion-input class="button-text" formControlName="stakeAmount" placeholder="Amount"></ion-input>
                <span class="heading-6" (click)="setMaxAmountSOL()">MAX</span>
            </ion-row>

            <app-label-layout [layoutConfig]="{title: 'You will receive'}">
            </app-label-layout>


            <ion-row id="recive-amount">
                <ion-input readonly
                    [value]="((stakeForm.controls.stakeAmount.value || 0) / stakePoolStats?.assetRatio) | number : '1.2-3'">
                </ion-input>
                <span>
                    {{selectedProvider.tokenSymbol}}
                </span>
            </ion-row>

            <ng-container *ngIf="withCLS; else elseTemplate">
                <div id="cls-wrapper">

                    <app-stake-custom-validator (onValidatorSelect)="setValidator($event)"></app-stake-custom-validator>
                    <ion-button class="cls-btn" fill="clear" slot="start" (click)="removeValidatorControl()">
                        <div>
                            remove custom validator
                        </div>
                    </ion-button>
                </div>


            </ng-container>
            <ng-template #elseTemplate>
                <ion-button  *ngIf="selectedProvider?.poolName == 'SolBlaze'" class="cls-btn" fill="clear"
                    (click)="addValidatorControl()"
                    tooltip="stake with custom validator will give you the benefit to support your favorite validator while join liquid staking pool">
                    <div>
                        add custom validator
                    </div>
                </ion-button>
            </ng-template>
            <ion-row class="ion-justify-content-center">
                <!-- <app-loader></app-loader> -->
                <ion-button (click)="liquidStake()" [disabled]="formSubmitted || stakeForm.invalid"
                    class="ion-text-capitalize">
                    deposit SOL
                </ion-button>
            </ion-row>
        </form>
        <form *ngSwitchCase="'unstake'">

            <app-label-layout
                [layoutConfig]="{title: selectedProvider.tokenSymbol + ' Amount', balance: stakePoolStats.userHoldings.staked_asset| number  : '1.2-2'}"></app-label-layout>
            <ion-row id="stake-amount" style="margin-bottom:8px;">
                <ion-input class="button-text" [ngModelOptions]="{standalone: true}" [(ngModel)]="unStakeAmount"
                    placeholder="Amount"></ion-input>
                <span class="heading-6" (click)="setMaxAmountxSOL()">MAX</span>
            </ion-row>
            
            <app-label-layout
                [layoutConfig]="{title: 'You will receive'}">
            <app-icon-tooltip [tip]="selectedProvider?.poolName?.toLowerCase() != 'marinade' ? '
            You will receive a stake account that you need to deactivate in your wallet' : ''"></app-icon-tooltip>
            </app-label-layout>

            <ion-row id="sol-recive-amount" style="margin-bottom:8px;">
                <ion-input readonly [value]="((unStakeAmount || 0 ) * stakePoolStats?.assetRatio) | number : '1.2-2'">
                </ion-input>
            </ion-row>
            <ion-row class="sub" style="margin-bottom:8px;">
                Unstake fee: from 0.1%
            </ion-row>
            <ion-row class="ion-justify-content-center" style="margin-bottom:8px;">
                <ion-button (click)="liquidUnstake()" [disabled]="!unStakeAmount" class="ion-text-capitalize">
                    Withdraw SOL
                </ion-button>
            </ion-row>
            <span class="sub" *ngIf="selectedProvider?.poolName?.toLowerCase() != 'marinade'" id="unstake-it">looking for
                Instantly unstake your SOL? Check <a target="_blank" href="https://www.unstake.it">unstake.it</a></span>

        </form>
    </div>
</div>