<ion-grid class="data-box ion-padding ion-margin-top">
  <app-private-score [totalRebates]="prizePool?.totalRebates" [wallet]="wallet" [leaderBoard]="loyaltyLeaderBoard.loyaltyPoints"></app-private-score>
  <ion-row class="ion-justify-content-center ion-margin-bottom">
    <ion-label class="sub">
      total points: 
    </ion-label>
    <ion-text class="sub">
     
        {{loyaltyLeaderBoard.totalPoints | number : '1.2-2'}} 
      
      <ion-icon name="sparkles-sharp"></ion-icon>
    </ion-text>
  </ion-row>
  <ion-row class="ion-justify-content-between leader-board">
    <ion-col class="sub-strong">
      rank
    </ion-col>
    <ion-col class="sub-strong">
      wallet address
    </ion-col>
    <ion-col class="sub-strong">
      total points
    </ion-col>
    <ion-col class="sub-strong">
      prize pool share
    </ion-col>
  </ion-row>

  <ion-row id="leader-board-table">
    <ng-container *ngIf="loyaltyLeaderBoard.loyaltyPoints as LDP; else elseTemplate">
      <app-item *ngFor="let item of LDP;let i = index" 
      [class.myRank]="item?.walletOwner === wallet.publicKey.toBase58()"
      [loyaltyScore]="item"
      [prizePoolRebate]="prizePool?.totalRebates"
      [wallet]="wallet"
        [index]="i"></app-item>
    </ng-container>
    <ng-template #elseTemplate>
      <app-loader></app-loader>
    </ng-template>
  </ion-row>
</ion-grid>