
<ion-row class="ion-justify-content-between ion-text-capitalize">
  <ion-col  size="12">
  </ion-col>
  <ion-col sizeMd="2.8" sizeSm="5" class="data-box ion-padding">
    <div class="heading-3">
     History data
    </div>
          <div class="heading-2">
        1 Day
    </div>
</ion-col>
  <ion-col sizeMd="2.8" sizeSm="5" class="data-box ion-padding">
      <div class="heading-3">
        TOP buy token
      </div>
      <app-loader *ngIf="!(jupInfo | async)"></app-loader>
      <div class="heading-2">
          {{(jupInfo | async)?.lastXTopBuy[0].symbol.toLocaleString()}}
      </div>
      <!-- <div class="heading-5">=  ${{(jupInfo?.).toLocaleString()}}</div> -->
  </ion-col>

  <ion-col sizeMd="2.8" sizeSm="5" class="data-box ion-padding">
      <div class="heading-3">
        Total Transactions
      </div> 
      <app-loader *ngIf="!(jupInfo | async)"></app-loader>
      <div class="heading-2">
        {{(jupInfo | async)?.lastXTransactionsCount.toLocaleString()}}
      </div>
      <!-- <div class="heading-4">validators</div> -->
  </ion-col>
  <ion-col sizeMd="2.8" sizeSm="5" class="data-box ion-padding">
      <div class="heading-3">
        Unique Wallets
      </div> 
      <app-loader *ngIf="!(jupInfo | async)"></app-loader>
      <div class="heading-2">
        {{(jupInfo | async)?.lastXAddressesCount.toLocaleString()}}
      </div>
  </ion-col>

</ion-row>