<ion-content scroll-y style="--background:transparent;">
  <ion-grid class="ion-padding">
    <div id="settings-title" class="heading-3">Settings</div>
    <ion-row class="setting-section">
      <ion-label>
        RPC Endpoint
      </ion-label>

      <ion-row id="btn-controls" class=" ion-align-items-center ion-justify-content-between">

        <ion-col size="12" sizeLg="3.9" class="selected-by" *ngFor="let rpc of RPC_list"  
        [ngClass]="{'selectedBtn': currentRPC == rpc.url}"
          (click)="setRPC(rpc.url)">
          <div class="select-group">
            <ion-img
              [ngStyle]="{'filter': rpc.name === 'helius' ? 'brightness(0) invert(1)' : ''}"
              [src]="rpc.imageUrl"></ion-img>

            <ion-checkbox mode="ios" [checked]="currentRPC == rpc.url" color="primary"></ion-checkbox>
          </div>


        </ion-col>

        <ion-col size="12" sizeLg="3.9"></ion-col>
      </ion-row>
    </ion-row>

    <ion-row class="setting-section">
      <ion-label>
        Preferred Explorer
      </ion-label>


      <ion-row id="btn-controls" class=" ion-align-items-center ion-justify-content-between">

        <ion-col size="12" sizeLg="3.9" class="selected-by"
        *ngFor="let explorer of explorerList"
          [ngClass]="{'selectedBtn': (currentExplorer$ | async) == explorer.url}"
          (click)="setExplorer(explorer.url)">
          <div class="select-group">
            <ion-img [src]="explorer.imageUrl"></ion-img>
            <ion-checkbox mode="ios" [checked]="(currentExplorer$ | async) == explorer.url" color="primary">
            </ion-checkbox>
          </div>
        </ion-col>

      </ion-row>
    </ion-row>
    <ion-row class="setting-section">
      <ion-label>
        Priority Fee
      </ion-label>


      <ion-row id="btn-controls" class=" ion-align-items-center ion-justify-content-between">

        <ion-col size="12" sizeLg="3.9" class="selected-by" [ngClass]="{'selectedBtn': currentPrioretyFee == '0'}"
          (click)="setPriorityFee('None')">
          <div class="select-group">
            <ion-text>none</ion-text>
            <ion-checkbox mode="ios" [checked]="currentPrioretyFee == '0'" color="primary">
            </ion-checkbox>
          </div>
        </ion-col>
        <ion-col size="12" sizeLg="3.9" class="selected-by" [ngClass]="{'selectedBtn': currentPrioretyFee == '1'}"
          (click)="setPriorityFee('Fast')">
          <div class="select-group">
            <ion-text>fast</ion-text>
            <ion-checkbox mode="ios" [checked]="currentPrioretyFee == '1'" color="primary">
            </ion-checkbox>
          </div>
        </ion-col>
        <ion-col size="12" sizeLg="3.9" class="selected-by" [ngClass]="{'selectedBtn': currentPrioretyFee == '3'}"
          (click)="setPriorityFee('Supercharger')">
          <div class="select-group">
            <ion-text>supercharger</ion-text>
            <ion-checkbox mode="ios" [checked]="currentPrioretyFee == '3'" color="primary">
            </ion-checkbox>
          </div>
        </ion-col>
      </ion-row>
    </ion-row>

    <ion-row class="setting-section">
      <ion-label>
        Theme
      </ion-label>

      <ion-row id="btn-controls" class=" ion-align-items-center  ion-justify-content-between">


        <ion-col size="12" sizeLg="5.9" class="selected-by" [ngClass]="{'selectedBtn': (currenTheme$ | async) == 'dark'}"
          (click)="setTheme('dark')">
          <div class="select-group">
            <span>Dark</span>
            <div id="dark-theme" class="theme-color">
              <span id="color-1"></span>
              <span id="color-2"></span>
              <span id="color-3"></span>
              <span id="color-4"></span>
              <span id="color-5"></span>
            </div>
            <ion-checkbox mode="ios" [checked]="(currenTheme$ | async) == 'dark'" color="primary"></ion-checkbox>
          </div>


        </ion-col>
        <ion-col size="12" sizeLg="5.9" class="selected-by" [ngClass]="{'selectedBtn':(currenTheme$ | async) == 'light'}"
          (click)="setTheme('light')">

          <div class="select-group">
            <span>Light</span>
            <div id="light-theme" class="theme-color">
              <span id="color-1"></span>
              <span id="color-2"></span>
              <span id="color-3"></span>
              <span id="color-4"></span>
              <span id="color-5"></span>
            </div>
            <ion-checkbox mode="ios" [checked]="(currenTheme$ | async) == 'light'" color="primary">
            </ion-checkbox>
          </div>


        </ion-col>
      </ion-row>
    </ion-row>
    <!-- </app-data-box> -->
  </ion-grid>
</ion-content>