:host {
    display: block;
    width: 100%;
}
#perks-wrapper{
    display: flex;
    flex-direction: column;
}

.light-theme .perks{
    background: var(--deep-background);
}
.perks {
    background: rgba(255, 255, 255, 0.08);
    border: 1px solid rgba(255, 255, 255, 0.08);
    margin-bottom: 16px;
    border-radius: 4px;
    display: flex;
    padding: 12px;
    .perks-key-value {
        display: flex;
        flex-direction: column;
        height: 39px;
    }
    ion-text {
        font-weight: 400;
        font-size: 11px;
        line-height: 12px;
        text-transform: uppercase;
        color: var(--ion-text-color);
    }
}


.icon-wrapper {
    padding: 8px;
    width: 40px;
    height: 40px;
    background: rgba(255, 255, 255, 0.12);
    border-radius: 3px;
    margin-inline-end: 16px;

    ion-icon {
        width: 24px;
        height: 24px;
    }
}

// span{
//     margin-inline-start: 26px;
// }

.perk-value {
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: var(--ion-text-color);
}

