:host{
    display: block;
    width: 100%;
}
.rank-2{
    color: var(--ion-color-primary);
}
.rank-3{
    color:  var(--ion-color-tertiary);;
}
.rank-4{
    color: gold;
}
div{
    display: flex;
    align-items: center;
}
ion-icon {
    margin-inline-end: 5px;
    font-size: 20px;
}
span{
    margin-inline-start: 26px;
}
ion-text{
    font-weight: bold;
}