<ion-row id="perks-wrapper">
  <ion-row class="heading-3 ion-text-capitalize ion-margin-bottom">
    perks
  </ion-row>
  <ion-row class="ion-text-capitalize ion-justify-content-between">

    <ion-col *ngFor="let perk of perks" class="perks" sizeMd="2.9" size="12">
      <div class="icon-wrapper">
        <ion-icon [name]="perk.icon"></ion-icon>
      </div>
      <div class="perks-key-value">
        <ion-text>{{perk.name}}:</ion-text>
        <span class="perk-value">{{perk.value}}</span>
      </div>
    </ion-col>
  </ion-row>
</ion-row>