ion-radio-group{
    display: flex;
    max-width: 150px;
}
ion-input{
    --color:#848DA4;
    color: #848DA4;
    background: #04172C;
    width: 324px;
    border-radius: 6px;
}
ion-button{
    text-transform: capitalize;


}