<ion-grid class="ion-padding">
  <ion-row class="ion-justify-content-between data-box ion-padding">
    <ion-col size="10">
      <div class="heading-4 ion-margin-bottom ion-text-uppercase">your email</div>
      <ion-input type="email" readonly placeholder="someEmail@company.com"></ion-input>
    </ion-col>
    <ion-col size="2" class="ion-padding">
      <ion-row class="ion-justify-content-center">
        <ion-button color="primary" (click)="signOut()">sign out</ion-button>      
      </ion-row>
    </ion-col>
  </ion-row>
  <ion-row class="ion-justify-content-between data-box ion-padding ">
    <ion-col size="12">
      <div class="heading-4 ion-margin-bottom ion-text-uppercase">system theme</div>
      <ion-radio-group class=" ion-text-capitalize ion-justify-content-between ion-align-items-center" value="dark">
        <ion-radio value="dark"></ion-radio> dark
        <ion-radio value="light"></ion-radio> light
      </ion-radio-group>
    </ion-col>
  </ion-row>
  <ion-row class="ion-justify-content-between data-box ion-padding">
    <ion-col size="10">
      <div class="heading-4 ion-margin-bottom ion-text-uppercase">delete your account</div>

    </ion-col>
    <ion-col size="2" class="ion-padding">
      <ion-row class="ion-justify-content-center">
        <ion-button color="danger">delete account</ion-button>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-grid>