<form [formGroup]="stakeForm" id="stake-box" class="ion-text-capitalize">

  <ion-row style="margin-bottom:8px" class="heading-6 ion-justify-content-between">
    <div id="">stake</div>
    <div class="aligned">Balance: {{solBalance}} <ion-icon tooltip="A ◎ 0.0001 is reduced from maximum balance to prevent missing tx fee.
      " placement="top" name="alert-circle-outline"></ion-icon>
    </div>
  </ion-row>
  <ion-row id="stake-amount">
    <ion-input class="button-text" formControlName="stakeAmount" type="number" placeholder="Amount"></ion-input>
    <span class="heading-6" (click)="setMaxAmount()">MAX</span>
  </ion-row>
  <ion-row style="margin-bottom:8px" class="heading-6" id="node-select">
    Choose validator
  </ion-row>
  <ion-input style="display:none;" formControlName="voteAccount" readonly></ion-input>
  <ion-row class="ion-margin-bottom">

    <div id="node-selection">

      <app-select-item [item]="selectedValidator" (click)="showValidatorList = !showValidatorList"
        [isDropDownOpen]="showValidatorList">
      </app-select-item>

      <div *ngIf="validatorsData | async">

        <app-select-box 
        *ngIf="showValidatorList" 
        [dataset]="validatorsData" 
        [filterBy]="'name'"
        (onSelectItem)="setSelectedValidator($event); this.showValidatorList = !this.showValidatorList">
      </app-select-box>
    </div>

    </div>
  </ion-row>

 
  <ion-row class="ion-justify-content-center">
    <ng-container *ngIf="wallet; else elseTemplate">
      <ion-button [disabled]="formSubmitted || stakeForm.invalid" (click)="stakeCLS()" type="button"
        class="ion-text-capitalize">stake</ion-button>
    </ng-container>
    <ng-template #elseTemplate>
      <app-wallet-not-connected-state [showBtn]="true"></app-wallet-not-connected-state>
    </ng-template>

  </ion-row>
</form>