#crafter-title {
    width: 100%;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 24px;
    color: var(--ion-text-color);
}

#guardian-preview {
    margin-bottom: 44px;
    display: block;

    ion-img {
        border: 2px solid rgba(255, 255, 255, 0.24);
        border-radius: 8px;
        overflow: hidden;
    }
}
.guardian-to-mint{
    filter: grayscale(100%);
    &.can-mint{
        filter: grayscale(0%);
    }
}
#guardian-options {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;

    div {
        &.selected {
            border: 2px solid rgba(255, 255, 255, 0.24);
        }
      
        cursor: pointer;
        height: 7vh;
        border-radius: 4px;
        overflow: hidden;
        position: relative;
    }

    p {
        position: absolute;
        bottom: 0;
        right: 0;
        background: rgba(255, 255, 255, 0.08);
        backdrop-filter: blur(12px);
        border-radius: 4px 0px 0px 0px;
        padding: 6px;
        color: white;
        // color: var(--ion-text-color);
    }
}

// right box style
#tier-selection {
    align-items: center;
    justify-content: space-between;

    h4 {
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: var(--ion-text-color);
    }

    h6 {
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
        align-items: center;
        display: flex;
        text-transform: uppercase;
        color: #B8B8B8;
        cursor: pointer;

        ion-icon {
            margin-inline-start: 2px;
        }
    }
}

#chosen-tier-perks {
    padding: 20px;
    background: rgba(255, 255, 255, 0.08);
    border-radius: 8px;
    margin-block-end: 29px;
    display: block;
}
#tier-perks{
    margin-top: 16px;
}
#tier-level {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: -0.02em;
    text-transform: uppercase;

    color: #A3A3A3;
}

#tier-require-amount {
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: var(--ion-text-color);
}

.perk{
    display: flex;
    align-items: center;
    margin-block-end: 8px;
    ion-icon{
        padding: 4px;
        width: 16px;
        height: 16px;
        background: rgba(255, 255, 255, 0.12);
        border-radius: 3px;
        margin-inline-end: 4px;
    }
    span{
        font-size: 12px;
        font-weight: 500;
        color:var(--ion-text-color);
    }
}