<ion-row class="ion-justify-content-between" *ngIf="!isWalletOwner">

  <!-- <ion-col *ngIf="index +1 === 1">
    <ion-icon style="color: gold;" name="trophy-outline"></ion-icon>
  </ion-col>
  <ion-col *ngIf="index +1 === 2">
    <ion-icon style="color: silver;" name="trophy-outline"></ion-icon>
  </ion-col>
  <ion-col *ngIf="index +1 === 3">
    <ion-icon style="color: #B87333;" name="trophy-outline"></ion-icon>
  </ion-col>

  <ion-col *ngIf="index + 1 > 3">{{index +1}}</ion-col> -->

  <ion-col>{{shortenAddr(loyaltyScore?.walletOwner)}}
    <ion-icon name="copy-outline" appCopyText [copyText]="loyaltyScore.walletOwner"></ion-icon>
  </ion-col>
  <ion-col>{{loyaltyScore?.loyaltyPoints | number : '1.1' }}</ion-col>
  <ion-col>{{(prizePoolRebate * loyaltyScore?.prizePoolShare | number : '1.2-3')}} SOL</ion-col>
</ion-row>
<ion-accordion-group *ngIf="isWalletOwner">

  <ion-accordion value="first">
    <ion-item slot="header">
      <ion-row style="    width: 100%;" class="ion-justify-content-between">
        <ion-col>{{shortenAddr(loyaltyScore?.walletOwner)}}
          <ion-icon name="copy-outline" appCopyText [copyText]="loyaltyScore.walletOwner"></ion-icon>
        </ion-col>
        <ion-col>{{loyaltyScore?.loyaltyPoints | number : '1.1' }}</ion-col>
        <ion-col>{{(prizePoolRebate * loyaltyScore?.prizePoolShare | number : '1.2-3')}} SOL</ion-col>
      </ion-row>
    </ion-item>
    <div class="ion-padding" slot="content">
      <ion-row class="ion-justify-content-between ion-align-items-center">
        <div class="key"> Native stake + Account aging</div>
        <div class="score">{{loyaltyScore.pointsBreakDown.nativeStakePts | number : '1.0'}} <span>pts</span></div>
      </ion-row>
      <ion-row class="ion-justify-content-between ion-align-items-center">
        <div class="key"> mSOL direct stake </div>
        <div class="score">{{loyaltyScore.pointsBreakDown.mSOLpts | number : '1.0'}} <span>pts</span></div>
      </ion-row>
      <ion-row class="ion-justify-content-between ion-align-items-center">
        <div class="key">veMNDE Votes</div>
        <div class="score">{{loyaltyScore.pointsBreakDown.veMNDEpts | number : '1.0'}} <span>pts</span></div>
      </ion-row>
      <ion-row class="ion-justify-content-between ion-align-items-center">
        <div class="key">bSOL direct stake</div>
        <div class="score">{{loyaltyScore.pointsBreakDown.bSOLpts | number : '1.0'}} <span>pts</span></div>
      </ion-row>
  
      <ion-row class="ion-justify-content-between ion-align-items-center">
        <div class="key">veBLZE Votes</div>
        <div class="score">{{loyaltyScore.pointsBreakDown.veBLZEpts | number : '1.0'}} <span>pts</span></div>
      </ion-row>
      <ion-row class="ion-justify-content-between ion-align-items-center">
        <div class="key">Referrals</div>
        <div class="score">{{loyaltyScore.pointsBreakDown.referralPts | number : '1.0'}} <span>pts</span></div>
      </ion-row>
      <ion-row class="ion-justify-content-between ion-align-items-center">
        <div class="key">Hub Domain Name Holder</div>
        <div class="score">{{loyaltyScore.pointsBreakDown.hubDomainPts | number : '1.0'}} <span>pts</span></div>
      </ion-row>
    </div>
  </ion-accordion>
</ion-accordion-group>