<ion-grid  class="data-box ion-padding ion-margin-top">

  <ion-row class="ion-justify-content-between ">
    <ion-col>
      <ion-chip class="sub>">Up to {{prizePool?.APR_boost / 100 | percent:'1.0-2'}} APR staking rewards bonus</ion-chip>
    </ion-col>
    <ion-col>
      <ion-button size="small" fill="clear">
        how loyalty points work?
      </ion-button>
    </ion-col>
  </ion-row>

  <ion-row class="ion-justify-content-center"> 
      <ion-icon name="gift-sharp"></ion-icon>
      <ion-title>{{prizePool?.totalRebates || 0 | number : '1.2-2'}} SOL</ion-title>
  </ion-row>

  <ion-row>
    <ion-text class="heading-4">
      next airdrop
    </ion-text>
    <ion-progress-bar [buffer]="0.20" [value]="0"></ion-progress-bar>
    <span class="sub">ETA 1 Days and 23 Hours</span>
  </ion-row>
</ion-grid>