
ion-grid{
    max-width: 97%;
    margin-inline: auto;
    text-transform: capitalize;
    margin-bottom: 0;
}
ion-button{
    float: right;
}
ion-title{
    text-align: center;
    line-height: 56px;
    font-size: 56px;
    color: var(--ion-text-color);
}
ion-chip {
    color: var(--ion-color-secondary);
    padding: 17px;
}
ion-icon {
    display: block;
    width: 100%;
    font-size: 80px;
    color: gold;
}