<ion-grid  class="data-box ion-padding ion-margin-top">

  <ion-row class="ion-justify-content-between ">
    <ion-col>
      <ion-text class="sub">
        prize pool
      </ion-text>
    </ion-col>
    <ion-col>
      <ion-button size="small" fill="clear">
        how avaulto points work?
      </ion-button>
    </ion-col>
  </ion-row>

  <ion-row class="ion-justify-content-center"> 
    <ion-icon name="gift-sharp"></ion-icon>
    <ion-title>1000 SOL</ion-title>
  </ion-row>

  <ion-row>
    <ion-text class="heading-3 sub-strong">
      next airdrop
    </ion-text>
    <ion-progress-bar [buffer]="0.20" [value]="0"></ion-progress-bar>
    <span class="sub">ETA 1 Days and 23 Hours</span>
  </ion-row>
</ion-grid>