<ion-grid  class="data-box ion-padding ion-margin-top">
<div id="prize-pool">


  <ion-row class="ion-justify-content-between ion-align-items-center">
    
    <ion-col class="ion-text-left">
      <ion-text class="heading-4">
        next airdrop
      </ion-text><br>
      <!-- <ion-progress-bar [buffer]="0.20" [value]="0"></ion-progress-bar> -->
      <span class="sub">{{nextAirdrop | async}}</span>
    </ion-col>
    <ion-col class="ion-text-right"> 
      <ion-chip  class="sub>">{{prizePool?.APR_boost | percent:'1.0-2'}} APR staking rewards bonus</ion-chip>
    
    </ion-col>
  </ion-row>
  
  <div id="prize">
    <ion-icon name="gift-sharp"></ion-icon>
      prize pool 
      <ion-icon name="gift-sharp"></ion-icon>
</div>
  <ion-row class="ion-justify-content-center ion-margin-bottom"> 
    <ion-title>{{prizePool?.rebates || 0 | number : '1.2-2'}} SOL</ion-title>
  </ion-row>

</div>
</ion-grid>