<ion-content scroll-y style="--background:transparent;">
  <ion-grid class="ion-padding">
    <ion-row id="token-swap-header" class="ion-align-items-center ion-margin-bottom">
      <div class="ion-margin-end">
        <span class="heading-1">Powered by</span>
      </div>
      <div id="orca-logo">
        <ion-img src="/assets/images/icons/orca-logo-text.svg"></ion-img>
        <!-- <span class="heading-1">Orca</span> -->
      </div>
    </ion-row>
    <app-orca-info></app-orca-info>
    <div id="tool-box">
      <div id="sort">
        
      </div>
    </div>
  </ion-grid>
</ion-content>