<ion-content scroll-y style="--background:transparent;">
  <ion-grid class="ion-padding">

    <app-dapp-head name="Orca" imgPath="/assets/images/icons/orca-logo.png"></app-dapp-head>
    <ion-row class="ion-justify-content-between ion-text-capitalize">
      <ion-col class="data-box ion-padding" sizeMd="2.8" sizeSm="5" *ngFor="let stat of whirlPoolsStats | keyvalue ">
        <app-data-box [title]="stat.value.title" [loading]="!stat.value.value" [desc]="stat.value.value">
        </app-data-box>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-between ion-margin-bottom ion-align-items-center">
      <app-tabs [menu]="menu" (onSelectTab)="tabChange($event)"></app-tabs>
      <app-search-input (search)="searchPool($event)" [value]="searchTerm" [placeholder]="'Search collection'"></app-search-input>
    </ion-row>

    <app-loader *ngIf="(orcaPools | async) == null"></app-loader>
    <ion-row>

      <ng-container [ngSwitch]="currentTab">
        <app-explore *ngSwitchCase="'explore'" [orcaPools]="orcaPools" [searchTerm]="searchTerm"></app-explore>
        <app-portfolio *ngSwitchCase="'portfolio'"  [orcaPools]="orcaPools"></app-portfolio>
        </ng-container>



    </ion-row>
  
  </ion-grid>
</ion-content>