<ion-row class="ion-margin-top">
  <div id="pts-m" class="heading-3 ion-text-center">Points Multiplier </div>
</ion-row>

<ion-row class="span-capitalize span-center ion-justify-content-between">
  <ion-label class="native-stake">Native stake: </ion-label>
  <span class="m-value"><span>x</span>{{(loyaltyScore$ | async)?.nativeStake || 0 | number: '1.2-2'}}</span>
</ion-row>
<ion-row class="span-capitalize span-center ion-justify-content-between">
  <ion-label class="native-stake">Long term boost: </ion-label>
  <span class=" m-value"><span>x</span>{{(loyaltyScore$ | async)?.nativeStakeLongTermBoost + 1 || 0 | number: '1.2-2'}}</span>
</ion-row>
<ion-row class="span-capitalize span-center ion-justify-content-between">
  <ion-label class="mnde-color">mSOL direct stake: </ion-label>
  <span class=" m-value"><span>x</span>{{(loyaltyScore$ | async)?.mSOL_DirectStakeBoost || 0 | number: '1.2-2'}}</span>
</ion-row>
<ion-row class="span-capitalize span-center ion-justify-content-between">
  <ion-label class="mnde-color">veMNDE votes: </ion-label>
    <span class=" m-value"><span>x</span>{{(loyaltyScore$ | async)?.veMNDE_Boost || 0 | number: '1.2-2'}}</span>
</ion-row>
<ion-row class="span-capitalize span-center ion-justify-content-between">
  <ion-label class="blze-color" >bSOL direct stake: </ion-label>
  <span class=" m-value"><span>x</span>{{(loyaltyScore$ | async)?.bSOL_DirectStakeBoost || 0 | number: '1.2-2'}}</span>
</ion-row>

<ion-row class="span-capitalize span-center ion-justify-content-between">
  <ion-label class="blze-color" >veBLZE votes: </ion-label>
  <span class=" m-value"><span>x</span>{{(loyaltyScore$ | async)?.veBLZE_Boost  || 0 | number: '1.5'}}</span>
</ion-row>



<ion-row class="span-capitalize span-center ion-justify-content-between">
  <ion-label id="ref-color"  tooltip="get 10% loyalty points from your referral total score">Referrals: </ion-label>
  <span class=" m-value">10%
  </span>
</ion-row>