<ion-row class="ion-justify-content-between ion-text-capitalize">
  <ion-col sizeMd="2.8" size="5" class="data-box ion-padding">
    <app-data-box [title]="'Proposals'" [loading]="false"
      [desc]="10">
    </app-data-box>
  </ion-col>
  <ion-col sizeMd="2.8" size="5" class="data-box ion-padding">
    <app-data-box [title]="'total votes'" [loading]="false"
      desc="100">
    </app-data-box>
  </ion-col>
  <ion-col sizeMd="2.8" size="5" class="data-box ion-padding">
    <app-data-box [title]="'Total NFT holders'" [loading]="false"
      [desc]="'90' ">
    </app-data-box>
  </ion-col>
  <ion-col sizeMd="2.8" size="5" class="data-box ion-padding">
    <app-data-box [title]="'unique wallets'" [loading]="false"
      [desc]="1000">
    </app-data-box>
  </ion-col>
</ion-row>