#nft-data-wrapper{
    min-height: 900px;
}
.nft-attr {
    width: 112px;
    min-height: 58px;
    background: #04172C;
    border-radius: 4px;
    padding: 8px;
}

.col-group {
    display: flex;
    align-items: center;
    ion-img {
        width: 30px;
        height: 30px;
        border-radius: 4px;
        overflow: hidden;
    }

}
#art-icon{
    width: 26px;
    height: 26px;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

}
a{
    text-decoration: none;
    display: flex;
    ion-icon{
        font-size: 14px;
        margin-inline-end: 10px;
    }
}
#nft-button-control{
    ion-button{
        width: 100%;
    }
}