<ion-grid class="ion-padding">
    <ion-content scroll-y style="--background:transparent;">
        <app-go-back-btn></app-go-back-btn>
        <ion-row id="nft-data-wrapper" class="data-box ion-padding ion-justify-content-start">
            <ion-col size="12" sizeLg="6">
                <ion-row class="ion-margin-bottom">
                    <div class="col-group" *ngIf="collectionInfo?.collectionName">
                        <ion-img [src]="collectionInfo?.collectionImage"></ion-img>
                        <span class="ion-margin-start heading-4">{{collectionInfo?.symbol}}</span>
                    </div>
                </ion-row>
                <ion-row class="heading-1 ion-margin-bottom">{{NFT?.name}}</ion-row>
                <ion-row class="heading-4 ion-text-capitalize ion-margin-bottom">description</ion-row>
                <ion-row class="ion-margin-bottom">{{NFT?.description}}</ion-row>
                <ion-row class="ion-margin-bottom ion-align-items-center">

                    <div id="art-icon" class="ion-margin-end">
                        <ion-icon name="color-palette-outline"></ion-icon>
                    </div>

                    <div class="ion-text-capitalize">
                        token address: <br>
                        <ion-col size="12" class="sub">{{NFT?.mintAddress}}</ion-col>
                    </div>

                </ion-row>
                <ion-row class="heading-4 ion-text-capitalize ion-margin-bottom">Attributes</ion-row>
                <ion-row>
                    <div class="nft-attr ion-margin-bottom ion-margin-end" *ngFor="let attr of NFT?.attributes">
                        <div class="sub-strong">{{attr.trait_type}}</div>
                        <span class="sub">{{attr.value}}</span>
                    </div>
                </ion-row>
                <ion-row class="ion-margin-bottom ion-text-capitalize" *ngIf="NFT?.websiteURL">
                    <a class="button-text ion-align-items-center" [href]="NFT?.websiteURL" target="_blank">
                        <ion-icon name="link-outline"></ion-icon> External Url
                    </a>
                </ion-row>
                <ion-row class="ion-margin-bottom ion-text-capitalize">
                    <a class="button-text ion-align-items-center" [href]="NFT?.explorerURL"
                        target="_blank">
                        <ion-icon name="list-outline"></ion-icon> view on explorer
                    </a>
                </ion-row>




            </ion-col>
            <ion-col size="12" sizeLg="6" class="ion-align-items-center">

                <ion-row class=" ion-margin-bottom">
                    <ion-col size="12">
                        <ion-skeleton-text style="background-color: white;width: 100%;height: 100%;"
                            *ngIf="hideSkelaton == false" animated></ion-skeleton-text>
                        <ion-img *ngIf="NFT?.image" (ionImgWillLoad)="hideSkelaton = true" [src]="NFT?.image"></ion-img>
                    </ion-col>
                </ion-row>
                <ion-row id="nft-button-control"
                    class="ion-align-items-center ion-justify-content-between ion-margin-bottom">
                  
                    <ion-col size="3.5">
                        <ion-button (click)="setUtil('send')" [fill]="segmentUtilTab == 'send' ? 'solid' : 'outline'" id="show-send-form">send</ion-button>

                    </ion-col>
                      <ion-col n size="3.5" *ngIf="false">
                        <ion-button (click)="setUtil('list')" [fill]="segmentUtilTab == 'list' ? 'solid' : 'outline'">list</ion-button>
                    </ion-col>
                    <ion-col size="3.5">
                        <app-nft-burn [walletOwner]="walletOwner" [mintAddressPK]="mintAddressPK"
                            [tokenAccountPubkey]="tokenAccountPubkey"></app-nft-burn>

                    </ion-col>


                </ion-row>
                <ion-row>
                    <ion-col>
                        <span [ngSwitch]="segmentUtilTab">

                            <app-nft-listing *ngSwitchCase="'list'" [walletOwner]="walletOwner"
                                [mintAddressPK]="mintAddressPK" [tokenAccountPubkey]="tokenAccountPubkey" [nft]="NFT">
                            </app-nft-listing>


                            <form *ngSwitchCase="'send'" [formGroup]="sendNftForm"  class="ion-padding">

                                <ion-row style="margin-bottom:8px" class="heading-6  ion-justify-content-between">
                                    <div id="">to</div>
                                </ion-row>
                                <ion-row>
                                    <ion-input formControlName="targetAddress"  class="button-text" placeholder="wallet address"></ion-input>
                                    <span class="heading-6"></span>
                                </ion-row>
                                <ion-button (click)="sendNft()" class="ion-text-capitalize">
                                    submit
                                </ion-button>
                            </form>

                        </span>
                    </ion-col>
                </ion-row>
            </ion-col>
        </ion-row>
    </ion-content>
</ion-grid>