#jup-logo {
    display: flex;
    align-items: center;

    ion-img {
        width: 50px;
        margin-inline-end: 8px;
    }
}

#swap-content {
    max-width: 100%;
    margin: 0 auto;
    margin-bottom: 50px
}

.bg-gradient-text {
    background-image: linear-gradient(96.8deg, #fcc00a 4.71%, #4ebae9 87.84%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 800;
}

#swap-input{
    position: relative;
    span{
        cursor: pointer;
        position: absolute;
        color: var(--ion-color-primary);
        z-index: 6;
        right: 15px;
        top: 21px;
    }
}


    #swap-setting {
        display: flex;
        justify-content: center;
        align-items: center;
        justify-content: space-between;
    }

    #swap-reload {
        width: 30px;
        height: 30px;
        background: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        ion-icon {
            font-size: 20px;
            color: var(--icon-color);
            transition: 0.5s ease;

            &:hover {
                transform: rotate(180deg);
            }
        }
    }

.swap-box {
    width: 100%;
}

.pair-selection {
    width: 100%;

    .pair-setup {
        width: 100%;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        background: var(--deep-background);
    }

    ion-input {
        text-align: left;
        --padding-bottom: 0;
        // border: 1px solid var(--ion-color-primary);
        --padding-top: 10;
        margin: 10px;
        width: 50px;
        flex: 0.4;
        --padding-end: 8px;
        --padding-start: 10px;
        z-index: 5;
    }

    #inputAmountEl {
        background: #ffffff0a !important;
    }
}

#flip-swap-pair {
    ion-icon {
        font-size: 20px;
        cursor: pointer;
    }
}

#swap-btn {
    --background: linear-gradient(96.8deg, #fcc00a 4.71%, #4ebae9 87.84%);
}

app-loader {
    right: 29px;
    z-index: 222;
    position: relative;
}

#swap-pair-two {
    margin-bottom: 30px;
}