
#popup-body{
    width: 100%;
    max-height: 200px;
    overflow-y: auto;

}
#selectable-accounts-list{
    margin: 0;
    min-height: auto;
}
#current-account {
    background: #00000070;
    padding: 10px;
}
#tip{
    display: flex;
    align-items: center;
    min-height: 20px;
    justify-content: space-between;
    span{
        width: 92%;
    }
}
ion-button{
    margin: 0 auto;
}
