<ion-grid class="ion-padding">
  <ion-row class="ion-justify-content-between ion-align-items-center data-box ion-padding">
    <ion-col size="9">
      <ion-row  class="ion-align-items-center">
        <ion-col size="1" class="ion-margin-end">
          <div class="brand-wrapper">
            <ion-img src="/assets/images/icons/sienna.png" alt="sienna logo"></ion-img>
          </div>
        </ion-col>
        <ion-col size="10">

          <div class="heading-4 ion-text-capitalize">sienna</div>
          <div class="">land, wrap, swap with ease</div>
        </ion-col>
      </ion-row>
    </ion-col>
    <ion-col size="1" >
      <ion-row class="ion-justify-content-center">
        <ion-button color="primary">view</ion-button>      
      </ion-row>
    </ion-col>
  </ion-row>
  <ion-row class="ion-justify-content-between ion-align-items-center data-box ion-padding">
    <ion-col size="9">
      <ion-row  class="ion-align-items-center">
        <ion-col size="1" class="ion-margin-end">
          <div class="brand-wrapper">
            <ion-img src="/assets/images/icons/secretswap.svg" alt="secretswap logo"></ion-img>
          </div>
        </ion-col>
        <ion-col size="10">

          <div class="heading-4 ion-text-capitalize">secret swap</div>
          <div class="">next level privacy swapping</div>
        </ion-col>
      </ion-row>
    </ion-col>
    <ion-col size="1" >
      <ion-row class="ion-justify-content-center">
        <ion-button color="primary">view</ion-button>      
      </ion-row>
    </ion-col>
  </ion-row>
</ion-grid>