<ion-content scroll-y style="--background:transparent;">
  <ion-grid class="ion-padding">
    <app-dapp-head name="marinade & solend" [imgPath]="strategyConfiguration?.strategyIcon"></app-dapp-head>
    <app-defi-stats [stats]="strategyStats"></app-defi-stats>

    <ion-row class="ion-justify-content-between">


      <ion-col class="data-box" sizeLg="7.7" size="12">
        <app-tabs [menu]="menu" (onSelectTab)="currentTab = $event"></app-tabs>
        <ng-container [ngSwitch]="currentTab" class="ion-padding">

          <app-deposit 
             *ngSwitchCase="'deposit'" 
            [walletExtended$]="walletExtended$ | async"
            [strategyAPY]="strategyStats[2]?.desc"
            [strategyConfiguration]="strategyConfiguration">
          </app-deposit>
          <app-withdraw 
            *ngSwitchCase="'withdraw'"
            [walletExtended$]="walletExtended$ | async"
            [strategyConfiguration]="strategyConfiguration">
          </app-withdraw>
          <app-claim 
          *ngSwitchCase="'claim'" 
          [walletExtended$]="walletExtended$ | async"
            [claimAsset]="{
              name:strategyConfiguration.claimAssets.name,
               amount: strategyConfiguration.claimAssets.amount
              }">
          </app-claim>

          </ng-container>
      </ion-col>
      <ion-col class="data-box ion-padding ion-text-capitalize" sizeLg="4" size="12">
        <div class="heading-4 ion-margin-bottom ion-text-uppercase">APY Breakdown</div>
        <div class="yield-asset break-down" *ngFor="let apyItem of strategyConfiguration?.APY_breakdown">
          <div>

            <ion-img [src]="apyItem.icon"></ion-img>
          </div>
          <span>
            {{apyItem.description}}
          </span>
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-between">
      <ion-col sizeLg="7.7" class="data-box ion-padding ion-text-capitalize">
        <div class="heading-4 ion-margin-bottom ion-text-uppercase">Strategy Breakdown</div>
        <div class=" break-down" *ngFor="let strategyItem of strategyConfiguration?.strategy_breakdown">
          <span>{{strategyItem}}</span>
        </div>
        <div class="heading-4 ion-margin-bottom ion-text-uppercase">Total transactions required</div>
        <p>{{strategyConfiguration?.totalTransactions}}</p>
      </ion-col>
      <ion-col id="risk-info" class="data-box ion-padding ion-text-capitalize" sizeLg="4">
        <div class="heading-4 ion-margin-bottom ion-text-uppercase">RISK Breakdown</div>
        <div class="risk break-down" *ngFor="let riskItem of strategyConfiguration?.risk_breakdown">
          <span [class]="riskItem.riskLevel"></span>
          <p>{{riskItem.description}}</p>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>