::ng-deep app-dapp-head {
    #dapp-logo ion-img {
        width: 100px !important;
        margin-inline-start: 8px;
        overflow: hidden;
        border-radius: 0% !important;
    }
}


.yield-asset {
    div {
        margin-inline-end: 6px;
    }

    ion-img {
        width: 30px;
        border-radius: 50%;
        overflow: hidden;
    }
}

.break-down {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #d3d3d354;
    margin-bottom: 10px;
    padding-bottom: 10px;

    span {
        font-size: 13px;
        font-weight: 100;
    }
}

#risk-info {
    .risk {
        span {
            width: 10px;
            height: 10px;
            border-radius: 50%;
            margin-inline-end: 10px;

            &.low {
                background: var(--ion-color-success);
            }

            &.medium {
                background: var(--ion-color-warning);
            }

            &.high {
                background: var(--ion-color-danger);
            }
        }


    }
}

.strategy-breakdown {
    .break-down-inner {
    position: relative;
    background: rgba(255, 255, 255, 0.08);
    border: 1px solid rgba(255, 255, 255, 0.08);
    margin-bottom: 16px;
    border-radius: 4px;
    padding: 10px 8px;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 120px;
    justify-content: center;
    }

    .bd-step {
        position: absolute;
        right: 2px;
        top: 2px;
        background: var(--ion-color-secondary);
        width: 16px;
        height: 16px;
        border-radius: 50%;
        font-size: 11px;
    }

    ion-icon {
        color: var(--ion-color-primary);
    }
}