div{
    position: relative;
}
#search-bar {
    // border: 1px solid #A3A3A3;
    margin: 0 auto;
    min-width: 180px;
}

ion-icon {
    position: absolute;
    right: 13px;
    top: 13px;
    z-index: 2;
}