div{
    position: relative;
}
ion-input {
    border: 1px solid var(--ion-color-primary);
    margin: 0 auto;
    min-width: 180px;
}

ion-icon {
    position: absolute;
    right: 13px;
    top: 13px;
    z-index: 2;
}