<ion-row class="heading-2 ion-margin-bottom">
  Submit a Proposal
</ion-row>

<form [formGroup]="proposalForm" id="prop-form-box" class="ion-text-capitalize">

  <app-label-layout [layoutConfig]="{title: 'Category'}"></app-label-layout>
  <ion-select formControlName="category" aria-label="Category" interface="popover">
    <ion-select-option value="integration request">integration request</ion-select-option>
    <ion-select-option value="feature request">feature request</ion-select-option>
  </ion-select>

  <app-label-layout [layoutConfig]="{title: 'Title'}"></app-label-layout>
  <ion-row>
    <ion-input formControlName="title"></ion-input>
  </ion-row>

  <app-label-layout [layoutConfig]="{title: 'Description'}"></app-label-layout>
  <ion-row class="ion-margin-bottom">
    <ion-textarea [autoGrow]="true" rows="5" maxlength="400" formControlName="desc"></ion-textarea>
  </ion-row>

  <ion-row>

    <ng-container *ngIf="wallet$ | async; else elseTemplate">
      <ion-button (click)="submitProposal()" [disabled]="formSubmitted || proposalForm.invalid"
        class="ion-text-capitalize">Submit</ion-button>
    </ng-container>
    <ng-template #elseTemplate>
      <app-wallet-not-connected-state [showBtn]="true"></app-wallet-not-connected-state>
    </ng-template>



  </ion-row>
</form>
<ion-row class="ion-padding-horizontal ion-text-capitalize">
  <ion-col size="12">
    <h6>Notes:</h6>
  </ion-col>
  <ul>
    <li class="sub">
      please search if a similar proposal is already open and vote for it!
    </li>
  </ul>

</ion-row>