:host {
    max-width: 95%;
    display: block;
    margin: 5px auto;
}

.nft-item {
    width: 100%;
    height: 100%;
}

ion-accordion {
    background: transparent;
}

#attr-header {
    text-transform: capitalize;
    --background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    --inner-padding-start: 0;
    --inner-padding-end: 0;
    --ripple-color: transparent;
    --padding-end: 0;
    --padding-start: 0;
}
.nft-attr {
    display: flex;
    justify-content: space-between;
}
#nft-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}
ion-button{
    display: block;
}
ion-item{
    text-transform: capitalize;
    --ion-color-base: transparent !important;
    --ion-color-contrast: white !important;
    background: transparent !important;
}
ion-card-content{
    min-height: 146px;
    padding-bottom: 0;
    h5{

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
}
.listed-mark{
    position: absolute;
    top: 10px;
    left: 10px;
    background: #000000b5;
    border-radius: 12px;
    width: 50px;
    text-transform: capitalize;
    text-align: center;
    color: white;
}
#ME-btn{
    border-radius: 4px;
    background: #e42575;
    a{
        color: white;
        text-decoration: none;
        font-size: 12px;
    }
}