<ion-card class="nft-item" style="background: var(--deep-background) !important;">
  <ion-card-header>
    <app-image-placeholder [imagePath]="nft.image"></app-image-placeholder>
    <app-nft-burn *ngIf="nft.listStatus != 'listed'" [walletOwner]="walletOwner" [mintAddressPK]="mintAddressPK"
></app-nft-burn>
   <div class="listed-mark" *ngIf="nft.listStatus == 'listed'">
    listed
   </div>
  </ion-card-header>

  <ion-card-content>
    <div id="nft-title">

      <h5 class="heading-5">{{nft.name}}</h5>
      <a [href]="utilsService.explorer +'/address/'+ nft.mintAddress" target="_blank"><ion-icon name="link-outline"></ion-icon></a>
    </div>
    <ion-card-title style="height:16px" class="sub">{{nft.symbol}}</ion-card-title>
    <ion-accordion-group [ngStyle]="{'visibility': !nft?.attributes ? 'hidden' : ''}">
      <ion-accordion value="first">
        <ion-item id="attr-header" slot="header">
          <ion-label>Attributes</ion-label>
        </ion-item>
        <div slot="content">
          <div class="nft-attr ion-margin-bottom" *ngFor="let attr of nft?.attributes">
            <div class="sub-strong">{{attr.trait_type}}</div>
            <span class="sub">{{attr.value}}</span>
          </div>
        </div>
      </ion-accordion>
    </ion-accordion-group>
    <ion-row class="ion-justify-content-between">

      <ion-col size="12" sizeLg="5.8" class="ion-margin-bottom">
        <ion-button id="send-nft" (click)="presentSendPopup($event)">send</ion-button>

   
      
      </ion-col>
      <ion-col size="12" sizeLg="5.8" >
        <ion-button fill="outline" *ngIf="nft.listStatus == 'unlisted'"
        (click)="presentListPopup($event)"
        >list
    </ion-button>
    <!-- <ion-button  fill="outline" *ngIf="nft.listStatus == 'listed'" (click)="nftListingCancel()">
      unlist
    </ion-button> -->
    <ion-button id="ME-btn" color="pink" *ngIf="nft.listStatus == 'listed'">
    <a [href]="'https://magiceden.io/item-details/'+ nft.mintAddress" target="_blank">view on ME</a>  
    </ion-button>
    </ion-col>
  </ion-row>
  </ion-card-content>
</ion-card>