.stake-balance{
    height: 42px;
    border-bottom: 1px solid rgb(132 141 164 / 20%);
}
#available-balance{
    ion-icon{
        color:#FD49AD;
    }
}
#frozen-balance{
    ion-icon{
        color:#FF845A;
    }
}
.flex-item-center {
    display: flex;
    align-items: center;
}
.table-icon {
    width: 26px;
    height: 26px;
    margin-inline-end: 20px;
    overflow: hidden;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    
}

.validator-info.heading-6 {
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}