<ion-grid>
    <ng-container *ngIf="stakeAccounts$ | async as stakeAccounts; else loaderTemplate">
      <ion-accordion-group multiple>
        <ion-accordion [value]="i" *ngFor="let account of stakeAccounts; let i = index">
          <ion-item slot="header" button detail="true">
            <app-account [account]="account"></app-account>
          </ion-item>
          <div class="ion-padding item-content" slot="content">
            <div class="account-info">

              <div class="account-status">
                <span>status: </span>
                <span class="sub" [ngStyle]="{'color': getStatusColor(account?.state)}">{{account?.state}}</span>
              </div>

              <div class="account-status">
                <span>active since epoch: </span>
                <span class="sub">{{account?.startEpoch}}</span>
              </div>
              <div class="account-status">
                <span>account address: </span>
                <span class="sub">{{account?.addr}} <ion-icon name="copy-outline" trigger="click" tooltip="coppied"
                    appCopyText [copyText]="account.addr"></ion-icon>
                </span>
              </div>
              <div class="account-status">
                <span>validator vote key: </span>
                <span class="sub">{{account?.validatorVoteKey}} <ion-icon name="copy-outline" trigger="click"
                    tooltip="coppied" appCopyText [copyText]="account.validatorVoteKey"></ion-icon>
                </span>
              </div>
            </div>
            <ion-button fill="outline"
              (click)="openStakeAccountActions($event, account, stakeAccounts)">actions</ion-button>

            <div class="stake-account-actions">


            </div>
          </div>
        </ion-accordion>
      </ion-accordion-group>
    </ng-container>
    <ng-template #loaderTemplate>
      <!-- <app-loader></app-loader> -->
      <app-wallet-not-connected-state></app-wallet-not-connected-state>
    </ng-template>


  <!-- </ng-container> -->
  <!-- <ng-template #elseTemplate>
    <app-wallet-not-connected-state></app-wallet-not-connected-state>
  </ng-template> -->

</ion-grid>