<ion-grid>
<app-loader *ngIf="(stakeAccounts | async) == null"></app-loader>
  <!-- <ion-row id="available-balance " class="stake-balance ion-align-items-center  ion-justify-content-between">
    <div size="7" class="flex-item-center">

      <div class="table-icon">
        <ion-icon name="wallet-outline"></ion-icon>
      </div>
      <div class="heading-6">
        Available balance
      </div>
    </div>
    <div size="2.5" class="sub ion-text-left" >
      24 SOL
    </div>
    <div style="text-align:right"  size="2.5">
    <ion-button  (click)="showStake = !showStake"  class="ion-text-capitalize">
      <span *ngIf="!showStake">
        new stake
      </span> 
      <span *ngIf="showStake">
        hide stake box
      </span> 
    </ion-button>
    </div>
  </ion-row> -->
  <!-- <ion-row class="ion-margin-top ion-justify-content-center">
    <app-stake></app-stake>
  </ion-row>
  <ion-row id="frozen-balance" class="stake-balance ion-align-items-center  ion-justify-content-between">
    <div size="10" class="flex-item-center">

      <div class="table-icon">
        <ion-icon name="lock-closed-outline"></ion-icon>
      </div>
      <div class="heading-6">
        Frozen balance
      </div>
    </div>
    <div class="ion-text-right " size="2">
      544 SOL
    </div>
  </ion-row> -->
  <!-- <div class="heading-4 ion-margin-bottom ion-text-uppercase">Accounts</div> -->
  <ion-row class="stake-balance ion-text-capitalize ion-align-items-center ion-justify-content-between"
    *ngFor="let account of stakeAccounts | async">
    <div class="flex-item-center">
      <div class="table-icon">
        <ion-img [src]="account.validatorData?.image || '/assets/images/icons/placeholder.svg'"></ion-img>
      </div>
      <div class="validator-info heading-6">
        {{account.validatorData?.name || 'name not found'}} <br>
        <span class="sub">
          fee: {{account.validatorData?.commission}}% uptime: {{account.validatorData?.uptime}}%
        </span>
      </div>
    </div>

    <div class="sub">
      {{account.shortAddr}}
    </div>
    <div  class="sub">
      {{account.balance}}
    </div>
    <div>
      <span [ngSwitch]="account.state">
        <p *ngSwitchCase="'activating'">
          <ion-icon [tooltip]="'activating'" name="hourglass-outline"></ion-icon>
        </p>
        <p *ngSwitchCase="'deactivating'">
          <ion-icon [tooltip]="'deactivating'" name="hourglass-outline"></ion-icon>
        </p>
        <p *ngSwitchCase="'active'">
          <ion-icon [tooltip]="'active'" name="checkmark-done-outline"></ion-icon>
        </p>
        <p *ngSwitchCase="'inactive'">
          <ion-icon [tooltip]="'inactive'" name="alert-circle-outline"></ion-icon>
        </p>
        <p *ngSwitchDefault>
          <ion-icon name="close-outline"></ion-icon>
        </p>
      </span>
    </div>

    <div style="text-align:right" [ngSwitch]="account.state">
      <ion-button fill="outline" color="warning" *ngSwitchCase="'activating'" (click)="deactiveStake(account.addr)">unstake</ion-button>
      <ion-button fill="outline" color="warning" disabled *ngSwitchCase="'deactivating'">cold down time</ion-button>
      <ion-button fill="outline" color="primary" *ngSwitchCase="'active'" (click)="deactiveStake(account.addr)">unstake</ion-button>
      <ion-button fill="outline" color="danger" *ngSwitchCase="'inactive'" (click)="withdrawStake(account)">withdraw stake</ion-button>

    </div>
  </ion-row>

</ion-grid>