<ion-row class="ion-justify-content-between">

  <ion-col *ngIf="index +1 === 1">
    <ion-icon style="color: gold;" name="trophy-outline"></ion-icon>
  </ion-col>
  <ion-col *ngIf="index +1 === 2">
    <ion-icon style="color: silver;" name="trophy-outline"></ion-icon>
  </ion-col>
  <ion-col *ngIf="index +1 === 3">
    <ion-icon style="color: #B87333;" name="trophy-outline"></ion-icon>
  </ion-col>

  <ion-col *ngIf="index + 1 > 3">{{index +1}}</ion-col>

  <ion-col>{{shortenAddr(loyaltyScore?.walletOwner)}}
    <ion-icon name="copy-outline" appCopyText [copyText]="loyaltyScore.walletOwner" class="ion-margin-end"></ion-icon>
  </ion-col>
  <ion-col>{{loyaltyScore?.loyaltyPoints | number : '1.2-2' }}</ion-col>
  <ion-col>{{(prizePoolRebate * loyaltyScore?.prizePoolShare | number : '1.2-3')}} SOL</ion-col>
</ion-row>