<ion-row [class.selected]="loyaltyScore?.walletOwner === wallet.publicKey.toBase58()" class="ion-justify-content-between">
  <ion-col>{{index +1}}</ion-col>
  <ion-col>{{shortenAddr(loyaltyScore?.walletOwner)}}
    <ion-icon name="copy-outline" appCopyText [copyText]="loyaltyScore.walletOwner"
    class="ion-margin-end"></ion-icon>
  </ion-col>
  <ion-col>{{loyaltyScore?.loyaltyPoints | number : '1.2-5' }}</ion-col>
  <ion-col>{{(prizePool * loyaltyScore?.prizePoolShare | number : '1.2-5')}} SOL</ion-col>
</ion-row>