ion-col{
    text-align: center;
    flex-wrap: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
}

ion-icon:hover {
    cursor: pointer;
    color: var(--ion-color-primary);
}
ion-icon[name="copy-outline"] {
    margin-inline-start: 5px;
  }
  