<ion-grid>

  <form [formGroup]="stakeForm" id="stake-box" class="ion-text-capitalize">
    <ion-row class="ion-margin-bottom" id="stake-apr-box">

      <div>~{{avgApy$ | async}}% <span>APY</span>
        <span *ngIf="privateValidatorPage || selectedValidator?.vote_identity == '7K8DVxtNJGnMtUY1CQJT5jcs8sFGSZTDiG7kowvFpECh'">

          <span class="extra-reward">+ {{ loyaltyProgramBoost$ | async | percent:'1.0-2'}} APR Loyalty program</span>
          <span class="extra-reward">+ MEV rewards</span>
        </span>
      </div>
      <p id="">Earn passive income from your crypto by staking it.</p>
    </ion-row>
    <app-label-layout [layoutConfig]="{title: 'stake', balance: (wallet$ | async)?.balance}">
      <app-icon-tooltip
        tooltip="A ◎ 0.0001 is reduced from maximum balance to prevent missing tx fee."></app-icon-tooltip>
    </app-label-layout>

    <ion-row id="stake-amount">
      <ion-input class="button-text" formControlName="amount" type="number" placeholder="Amount"></ion-input>
      <span class="heading-6" (click)="setMaxAmount()">MAX</span>
    </ion-row>
    <ion-row style="margin-bottom:8px" class="heading-6" id="node-select">
      Choose validator
    </ion-row>
    <ion-input style="display:none;" formControlName="voteAccount" readonly></ion-input>
    <ion-row class="ion-margin-bottom">

      <div id="node-selection">

        <app-select-item [item]="selectedValidator" (click)="showValidatorList = !showValidatorList"
          [isDropDownOpen]="showValidatorList" [showDropDownIcon]="!privateValidatorPage">
        </app-select-item>

        <app-select-box *ngIf="showValidatorList" [disabled]="privateValidatorPage" [dataset]="validatorsData"
          [filterBy]="'name'"
          (onSelectItem)="setSelectedValidator($event); this.showValidatorList = !this.showValidatorList">
        </app-select-box>

      </div>
    </ion-row>

    <ion-row id="btn-controls"
      class="ion-margin-bottom ion-align-items-center ion-margin-bottom ion-justify-content-between">

      <ion-col sizeLg="5.8" sizeMd="12" class="stake-by" [ngClass]="{'selected-path': stakingType == 'native'}"
        (click)="selectStakePath('native')">
        <div class="select-group">
          <span>
            native
            <ion-icon name="lock-closed-outline"></ion-icon>
          </span>
          <ion-checkbox mode="ios" [checked]="stakingType == 'native'" color="primary"></ion-checkbox>
        </div>

      </ion-col>
      <ion-col sizeLg="5.8" sizeMd="12" class="stake-by" [ngClass]="{'selected-path': stakingType == 'liquid'}"
        (click)="selectStakePath('liquid')">
        <div class="select-group">
          <span>
            liquid
            <ion-icon name="water-outline"></ion-icon>
          </span>
          <ion-checkbox mode="ios" [checked]="stakingType == 'liquid'" color="primary">
          </ion-checkbox>
        </div>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="stakingType === 'liquid'" >

      <ion-select formControlName="stakePool" aria-label="stake-pool" placeholder="select pool" interface="popover">
        <ion-select-option value="marinade">marinade</ion-select-option>
        <ion-select-option value="solblaze">solblaze</ion-select-option>
      </ion-select>
    </ion-row>
    <ion-row *ngIf="stakingType === 'liquid' && stakeForm.controls.stakePool.value" id="exchange-rate" class="ion-justify-content-between ion-align-items-center">
      <div style="display: flex; align-items:center;">
          <span>
              pool management fee
          </span>

      </div>
      <div>
        <span *ngIf="stakeForm.controls.stakePool.value === 'marinade'">
          0.06%
          </span>
        <span *ngIf="stakeForm.controls.stakePool.value === 'solblaze'">
        0.05%
        </span>
      </div>
  </ion-row>
  <ion-row  *ngIf="stakingType === 'liquid' && stakeForm.controls.stakePool.value && privateValidatorPage" id="exchange-rate" class="ion-justify-content-between ion-margin-bottom ion-align-items-center">
      <div style="display: flex; align-items:center;">
          <span>
              Deposit fee
          </span>

      </div>
      <div>
          0.0008%
      </div>
  </ion-row>

    
    <ng-container *ngIf="stakingType === 'native'"> 
      <ion-row class="heading-6 ion-justify-content-between">
        <div class="aligned">lockup <app-icon-tooltip tooltip="Locking up will create a stake account that is locked for the duration of time you specify."></app-icon-tooltip>
        </div>
        <div>
          months: {{stakeForm.value.monthLockuptime}}
        </div>
      </ion-row> 
        <ion-row id="commitment-amount">
        <ion-range formControlName="monthLockuptime" [min]="0" [max]="32" [pin]="true" [ticks]="true" [snaps]="true">
        </ion-range>
      </ion-row>
    </ng-container>

    <ion-row class="ion-justify-content-center">
      <ng-container *ngIf="wallet$ | async; else elseTemplate">
        <ion-button [disabled]="formSubmitted || stakeForm.invalid" (click)="submitNewStake()" type="button"
          class="ion-text-capitalize">stake</ion-button>
        <!-- {{wallet.tokens}} -->
      </ng-container>
      <ng-template #elseTemplate>
        <app-wallet-not-connected-state [showBtn]="true"></app-wallet-not-connected-state>
      </ng-template>

    </ion-row>
  </form>
  <app-apy-calc class="ion-margin-top" *ngIf="selectedValidator" [rewardInfo]="rewardInfo"></app-apy-calc>
</ion-grid>