ion-grid {
    background-image: url('/assets/images/login-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
}

#avaulto-login-wrapper {
    display: flex;
    height: 100vh;
}

app-logo {
    position: absolute;
    top: 40px;
    left: 40px;
}

// #left-box {
//     background-color: #9FA7B4;
// }

// #right-box {
//     background-color: #898989;
// }

#right-box,
#left-box {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}



#go-back-btn {
    padding: 12px;
    position: absolute;
    right: 30px;
    top: 30px;
    color: white;
    background: var(--ion-color-primary);
    border-radius: 5px;
    text-transform: capitalize;
    a{
        color: white;
        text-decoration: none;
    }
}

#avaulto-slider-intro {
    width: 434px;
    height: 332px;
    border-radius: 8px;
}

.intro-content {
    padding: 0 5px;
    margin-bottom: 44px;
    width: 454px;
    text-transform: capitalize;
}

.intro-slide {
    color: white;
    height: 370px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    ion-img {
        width: 97.4px;
        height: 70.98px;
    }

    fa-icon {
        font-size: 103px;
    }

    p {
        font-size: 14px;
    }
}

::ng-deep {
    ion-segment {
        width: 200px;
        margin: 0 auto;
    }

    ion-segment-button {
        color: white;
    }

    ion-slides {

        .swiper-pagination-bullet {
            width: 12px;
            height: 12px;
            background: transparent;
            border: 2px solid white;
            opacity: 1;
        }

        .swiper-pagination-bullet-active {
            background: var(--ion-color-primary);
            border: 2px solid var(--ion-color-primary);
            ;
        }
    }
}

// right side style
.auth-border {
    background: rgba(4, 23, 44, 0.17);
    border: 1px solid #093A61;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 23px 0;
}

#oAuth-sign-in {
    display: flex;
    height: 198px;
    width: 500px;
    // justify-content: space-around;
    flex-direction: column;
    justify-content: space-evenly;

    h1 {
        color: white;
        margin-bottom: 16px;
        text-align: center;
    }

    #aAuth-options {
        display: flex;
        justify-content: center;
        ion-button{
            --padding-bottom: 12px;
            --padding-end: 12px;
            --padding-start: 12px;
            --padding-top: 12px;
           
            --background: #FFFFFF;
            color: black;
            --color: black;
            --border-radius: 4px;
            margin: 0px 14px;
            cursor: pointer;
            ion-icon{
                color: black;
                font-size: 16px;
                margin-inline-end: 8px;
            }
        }
    }

}

.divider {
    margin: 24px 0;
    font-weight: 500;
    font-size: 24px;
    color: white;
    text-align: center;
}

#avaulto-sign-in {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 433px;
}

#segmented-email-auth {
    text-align: center;
    font-weight: 500;
    color: white;
    width: 170px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 69px;
    span{
        cursor: pointer;
        font-size: 14px;
    }
    span.active{
        border-bottom: 2px solid var(--ion-color-primary);
    }
}
    .sign-in-inputs {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 300px;
        margin: 0 auto;
        margin-top: 10px;

        .msg{
            font-weight: 500;
            font-size: 10px;
            margin-bottom: 16px;
            text-transform: capitalize;
            color: #FE5B5B;
        }
        ion-button {
            color: white;
            background: var(--ion-color-primary);
            border-radius: 4px;
            --padding-bottom: 12px;
            --padding-end: 12px;
            --padding-start: 12px;
            --padding-top: 12px;
            text-transform: capitalize;
        }
    }


#social-footer {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: flex;
    width: 100px;
    justify-content: space-between;

    fa-icon {
        color: white;
    }
}