<ion-grid>
  <app-logo></app-logo>
  <ion-row id="avaulto-login-wrapper" >
    <ion-col sizeMd="6" class="ion-hide-md-down" id="left-box">

      <div id="avaulto-slider-intro">
        <ion-slides pager="true" [options]="slideOpts">
          <ion-slide class="intro-slide" *ngFor="let slide of slidesInfo">
            <h1 class="title">{{slide.title}}</h1>
            <ion-img [src]="slide.image" alt="slide image"></ion-img>
            <div class="intro-content">
              <!-- <fa-icon [icon]="icon"></fa-icon> -->
              <p>
                {{slide.desc}}
              </p>
            </div>
          </ion-slide>
        </ion-slides>
      </div>
    </ion-col>

    <ion-col sizeMd="6" sizeXs="12" id="right-box">
      <button color="primary" id="go-back-btn"><a href="https://avaulto.com/">go back</a></button>
      <div id="avaulto-sign-in">
        <div id="oAuth-sign-in" class="auth-border">
          <h1 class="title">sign in</h1>
          <!-- <p>one click login</p> -->
          <div id="aAuth-options">
            <ion-button class="auth-otp" (click)="auth.GoogleAuth()">
              <ion-icon name="logo-google"></ion-icon>
              Google
            </ion-button>
            <ion-button class="auth-otp"  (click)="auth.anonymousAuth()">
              <span style="display:flex;" tooltip="Anonymous login will allow you to use our dashboard without saving any personal identifier on our servers but this also means that data loss is probable in some conditions">
                <ion-icon slot="start" name="information-circle-outline"></ion-icon>
              </span>
              Anonymously
              <span></span>
            </ion-button>
          </div>
        </div>
        <div class="divider">OR</div>
        <div id="email-sign-in" class="auth-border">
          <!-- <ion-segment #segmentAuthTab value="sign-in" color="light">
            <ion-segment-button value="sign-in">
              <ion-label>by email</ion-label>
            </ion-segment-button>
            <ion-segment-button value="register">
              <ion-label>register</ion-label>
            </ion-segment-button>
          </ion-segment> -->
          <div id="segmented-email-auth" class="ion-text-uppercase">
            <span (click)="setSignType('sign-in')" [class.active]="segmentAuthTab == 'sign-in'">by email</span>
            <span (click)="setSignType('register')" [class.active]="segmentAuthTab == 'register'">register</span>
          </div>
          <form [formGroup]="signForm" autocomplete="off" class="sign-in-inputs">
            <ion-input class="button-text" type="email" [class.error]="!signForm.controls['email'].valid && signForm.controls['email']?.touched"
            formControlName="email" placeholder="email"></ion-input>

       

            <ion-input type="password"
            class="button-text"
              [class.error]="!signForm.controls['password'].valid && signForm.controls['password']?.touched"
              formControlName="password" 
              placeholder="password" ></ion-input>


            <ion-input type="password"
            class="button-text"
            [class.error]="!signForm.controls['passwordAgain'].valid && signForm.controls['passwordAgain']?.touched"
             *ngIf="segmentAuthTab == 'register'"
              formControlName="passwordAgain"
              placeholder="password again" ></ion-input>

            <div class="msg" #errEl *ngIf="signForm.invalid && signForm.touched && isSubmitted">
              form not valid
            </div>
            <ion-button type="button" (click)="submitForm()">login</ion-button>
          </form>
        </div>
      </div>

    </ion-col>
  </ion-row>
    <div id="social-footer">
      <div class="social-item" *ngFor="let item of socials">
        <a [href]="item.url" target="_blank">
          <fa-icon [icon]="item.icon"></fa-icon>
        </a>
      </div>
    </div>
</ion-grid>