<ion-grid>
  <div id="avaulto-login-wrapper">
    <div id="left-box">
      <app-logo></app-logo>

      <div id="avaulto-slider-intro">
        <ion-slides pager="true" [options]="slideOpts">
          <ion-slide class="intro-slide">
            <h1 class="title">Get started!</h1>
            <ion-img src="/assets/images/slide-placeholder.svg" alt="PLACEHOLDER"></ion-img>
            <div class="intro-content">
              <!-- <fa-icon [icon]="icon"></fa-icon> -->
              <p>
                Avaulto is a proof of stake blockchain company that aims to deliver high-end quality nodes of multiple
                blockchains that support staking mechanisms
              </p>
            </div>
          </ion-slide>
          <ion-slide>
            <h1>Slide 2</h1>
          </ion-slide>
          <ion-slide>
            <h1>Slide 3</h1>
          </ion-slide>
        </ion-slides>
      </div>
      <div id="social-footer">
        <div class="social-item" *ngFor="let item of socials">
          <a [href]="item.url" target="_blank">
            <fa-icon [icon]="item.icon"></fa-icon>
          </a>
        </div>
      </div>
    </div>

    <div id="right-box">
      <button id="go-back-btn">go back</button>
      <div id="avaulto-sign-in">
        <div id="oAuth-sign-in" class="auth-border">
          <h1 class="title">sign in</h1>
          <!-- <p>one click login</p> -->
          <div id="aAuth-options">
            <ion-button class="auth-otp" (click)="auth.GoogleAuth()">
              <ion-icon name="logo-google"></ion-icon>
              Google
            </ion-button>
            <ion-button class="auth-otp"  (click)="auth.anonymousAuth()">
              <ion-icon slot="start" name="information-circle-outline"></ion-icon>
              Anonymously
            </ion-button>
          </div>
        </div>
        <div class="divider">OR</div>
        <div id="email-sign-in" class="auth-border">
          <!-- <ion-segment #segmentAuthTab value="sign-in" color="light">
            <ion-segment-button value="sign-in">
              <ion-label>by email</ion-label>
            </ion-segment-button>
            <ion-segment-button value="register">
              <ion-label>register</ion-label>
            </ion-segment-button>
          </ion-segment> -->
          <div id="segmented-email-auth" class="ion-text-uppercase">
            <span (click)="setSignType('sign-in')" [class.active]="segmentAuthTab == 'sign-in'">by email</span>
            <span (click)="setSignType('register')" [class.active]="segmentAuthTab == 'register'">register</span>
          </div>
          <form [formGroup]="signForm" autocomplete="off" (ngSubmit)="submitForm()" class="sign-in-inputs">
            <ion-input type="email" [class.error]="!signForm.controls['email'].valid && signForm.controls['email']?.touched"
            formControlName="email" placeholder="email"></ion-input>

       

            <ion-input type="password"
              [class.error]="!signForm.controls['password'].valid && signForm.controls['password']?.touched"
              formControlName="password" 
              placeholder="password" ></ion-input>


            <ion-input type="password"
            [class.error]="!signForm.controls['passwordAgain'].valid && signForm.controls['passwordAgain']?.touched"
             *ngIf="segmentAuthTab == 'register'"
              formControlName="passwordAgain"
              placeholder="password again" ></ion-input>

            <div class="msg" *ngIf="signForm.invalid && signForm.touched && isSubmitted">
              form not valid
            </div>
            <ion-button>login</ion-button>
          </form>
        </div>
      </div>

    </div>
  </div>
</ion-grid>