


      <ul [ngSwitch]="account?.state">
        <li class="sub" *ngSwitchCase="'activating'" (click)="deactiveStake(account)">
          unstake
          
        </li>
        <li class="sub" *ngSwitchCase="'deactivating'" (click)="reStake(account)">
          restake
          
        </li>
        <li class="sub" *ngSwitchCase="'active'"  (click)="deactiveStake(account)">
          unstake
          
        </li>
        <li class="sub" *ngSwitchCase="'inactive'" (click)="withdrawStake(account)">
          withdraw stake
          
        </li>
        <li class="sub" (click)="claimMEV(account)">
          claim exceed lamport <ion-icon style="margin-inline-start: 5px;" maxWidth="300px" tooltip="Claim any exceeded Lamport that you've received from MEV or any other wallet" placement="top" name="alert-circle-outline"></ion-icon>
        </li>
        <!-- <li class="sub" (click)="splitStake()">
          split stake
        </li> -->
        <li class="sub" (click)="openMergeAccountPopup()" >
          merge account 
        </li>
      </ul>

