
#wallet-connected-actions {
    background-color: var(--deep-background);
    border: 1px solid var(--ion-color-primary);
    border-radius: 4px;
    padding: 12px;
    li {
        height: 40px;
        color: white;
        align-items: center;
        display: flex;
        cursor: pointer;
        border-bottom: 1px solid rgb(132 141 164 / 20%);
        text-transform: capitalize;
        &:hover {
            font-weight: 600;
          }
    }
}