<ion-app>
  <ion-grid>
    <ion-row style="height:100%">
      <ion-col class="ion-hide-lg-down" sizeLg="2" size="0">
        <app-side-menu></app-side-menu>
      </ion-col>
      <ion-col sizeLg="10" size="12">
        <ng-container *ngIf="(isReady$ | async) || this.router.url.indexOf('home') > -1; else notConnected">
          <ion-router-outlet></ion-router-outlet>
        </ng-container>
        <ng-template #notConnected>
          <app-wallet-not-connected-state></app-wallet-not-connected-state>
        </ng-template>
      </ion-col>
    </ion-row>
    <!-- <ion-col sizeLg="0" size="12"> -->
      <app-tabs-menu *ngIf="showTabs" class="ion-hide-lg-up"></app-tabs-menu>
    <!-- </ion-col> -->
  </ion-grid>


</ion-app>