ion-grid {
    background: rgb(4,23,44);
    background: linear-gradient(141deg, rgba(4,23,44,1) 14%, rgba(33,36,75,1) 32%, rgba(19,44,97,1) 80%, rgba(12,218,196,1) 150%);
}

::ng-deep{
    .inner-page{
        padding: 23px;
    }
}