::ng-deep {
    .inner-page {
        padding: 23px;
    }
}

#logo-icon {
    width: 40px;
    margin: 0 auto;
    transform: translateX(-22px);
}

ion-toolbar{
    --background: var(--deep-background);
}

@media only screen and (max-width: 990px) {
    ion-router-outlet {
        margin-top: 56px;
    }
  }