:host {
    display: block;
    border-radius: 8px;
}

#gen2-form {
    padding: 32px;
}

#stake-amount {
    position: relative;

    span {
        cursor: pointer;
        position: absolute;
        color: var(--ion-color-primary);
        z-index: 2;
        right: 15px;
        top: 12px;
    }
}

.balance-label {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: -0.02em;
    color: #B8B8B8;
}

#stake-range-amount {
    margin-top: 24px;
    margin-bottom: 40px;
    position: relative;

    span {
        position: absolute;
        display: flex;
        justify-content: space-between;
        width: 100%;
        font-size: 10px;
        line-height: 15px;
        color: var(--ion-text-color);
        opacity: 0.48;

        .divider {
            height: 9px;
            width: 1px;
            opacity: 0.48;
            background-color: var(--ion-text-color);
        }

        ion-label {
            text-align: center;
            transform: translate(-13px, 29px);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            &:last-child {
                transform: translate(15px, 29px);
            }
        }

       
    }
}