#segment-header {
    border-bottom: 1px solid rgb(132 141 164 / 20%);
    text-align: center;
    padding-top: 21px;
    padding-bottom: 10.5px;
    span {
        cursor: pointer;
        font-weight: 500;
        font-size: 14px;
        margin-inline-end: 40px;
        &:last-child{
            margin-inline-end: 0;
        }
        &.active{
            border-bottom: 3px solid var(--ion-color-primary);
            padding-bottom: 7px;
        }
    }
}
