<div class="heading-4 ion-margin-bottom ion-text-uppercase">defi</div>
<ion-grid>
  <ion-row *ngFor="let defi of defiApps" class="ion-justify-content-between ion-margin-bottom ion-align-items-center">
    <ion-col size="2">
      <div id="defi-icon">
        <ion-img [src]="defi.img" alt="app logo"></ion-img>
      </div>
    </ion-col>
    <ion-col size="6" class="ion-text-left">
      <div class="heading-6">{{defi.name}}</div>
      <span class="sub">{{defi.desc}}</span> 
    </ion-col>
    <ion-col size="4" class="ion-text-right">
      <ion-button>view</ion-button>
    </ion-col>
  </ion-row>
</ion-grid>
