<div class="heading-4 ion-margin-bottom ion-text-uppercase">defi</div>
<ion-grid>
  <ion-row class="ion-justify-content-between ion-align-items-center">
    <ion-col size="2">
      <div id="defi-icon">
        <ion-img src="https://jup.ag/svg/jupiter-logo.svg" alt="jupiter swap"></ion-img>
      </div>
    </ion-col>
    <ion-col size="6" class="ion-text-left">
      <div class="heading-6">Jupiter</div>
      <span class="sub">Swap Infrastructure for Solana</span> 
    </ion-col>
    <ion-col size="4" class="ion-text-right">
      <ion-button>view</ion-button>
    </ion-col>
  </ion-row>
</ion-grid>
