#defi-icon{
    background-color: white;
    width: 42px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    ion-img{
        width: 28px;
    }
}