<div id="slippage">
  <div id="slippage-placeholder" (click)="showSlippageOptions = !showSlippageOptions">
    <ion-icon name="options-outline"></ion-icon>
    <ion-label id="selected-slippage">{{currentSlippage / 100}}%</ion-label>
  </div>

  <ion-segment *ngIf="showSlippageOptions" @flyInOut mode="ios" [value]="currentSlippage"  (ionChange)="slippageChange($event)" id="slippage-options"  class="sub">
    <ion-segment-button value="10">
      <ion-label>0.1%</ion-label>
    </ion-segment-button>
    <ion-segment-button value="50">
      <ion-label>0.5%</ion-label>
    </ion-segment-button>
    <ion-segment-button value="100">
      <ion-label>1.0%</ion-label>
    </ion-segment-button>
  </ion-segment>
</div>