:host{
    display: block;
}
.list-item {
    width: 100%;
    background: var(--deep-background);
    display: flex;
    align-items: center;
    height: 60px;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s ease;
    border-bottom: 1px solid rgb(132 141 164 / 20%);;
    // opacity: 0.8;

    // &:hover {
    //     opacity: 1;
    // }
}


.list-item-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-inline-end: 16px;
    flex-wrap: wrap;
    position: relative;
    fa-icon {
        transition: 0.3s ease;
        color: var(--ion-color-primary);
        position: absolute;
        right: 15px;
        &.selected-item{
            transform: rotate(180deg);
        }
    }
}

.list-item-img {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 16px;

    ion-img {
        width: 20px;
        border-radius: 50%;
        overflow: hidden;
    }
}
.list-item-sub {
    width: 100%;
    span {
        margin-inline-end: 8px;
    }
}
.not-supported{
    opacity: 0.7;
}