.wallet {
    margin-block-end: 21px;
    cursor: pointer;

    ion-img {
        width: 26px;
    }
    ion-col{
        font-weight: 600;
        font-size: 12px;
        line-height: 18px;
    }
}
.bar{
    height: 8px;
    background: #FD49AD;
    border-radius: 8px;
}
.global-selected-pair{
    color: #FE5B94;
}