<ion-content scroll-y style="--background:transparent;">
  <ion-grid class="ion-padding" style="margin-bottom: 50px;">
    <app-stats></app-stats>

    <ion-row class="ion-align-items-start ion-justify-content-between">

      <ion-col sizeMd="7" size="12" class="data-box ion-padding">
        <app-proposals></app-proposals>
      </ion-col>
      <ion-col sizeMd="4.7" size="12" class="data-box ion-padding">
        <app-new-proposal></app-new-proposal>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>