:host{
    max-height: 450px;
    overflow-y: auto;
    display: block;
}

ion-item{
    --background:transparent;
    --border-color: #00000052;
}
.item-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.account-status{
    flex-wrap: wrap;
    text-transform: capitalize;
    flex: 1;
    display: flex;
    span{
        display: flex;
        align-items: center;
        margin-inline-end: 4px;
        ion-icon{
            margin-inline-start: 4px;
        }
    }
}
.stake-account-actions{
    display: flex;
    justify-content: space-between;
}