<ion-grid>
    <ng-container *ngIf="stakeAccounts$ | async as stakeAccounts; else loaderTemplate">
      <div class=" sub ion-margin-top" *ngIf="stakeAccounts.length === 0">
        You do not own any stake accounts
      </div>
      <app-account *ngFor="let account of stakeAccounts;" [account]="account" [allAccounts]="stakeAccounts"></app-account>

    </ng-container>
    <ng-template #loaderTemplate>
      <app-wallet-not-connected-state></app-wallet-not-connected-state>
    </ng-template>



</ion-grid>