<ion-row id="prop-head" class="ion-justify-content-between ion-text-capitalize">
  <!-- <span class="sub">{{proposal.status}}</span> -->
  <span class="heading-3">
    {{proposal.category}} - {{proposal.title}}
  </span>
</ion-row>
<ion-row id="prop-body">

  <p>
    {{proposal.desc}}
  </p>

  <ion-row class="ion-justify-content-between">
    
    <div class="prop-info">
      <div>ECWY....JUXk</div><span>2 days ago</span>
    </div>

    <div id="vote-button-wrapper">
      <div class="vote-button ButtonText" id="vote-against" (click)="addVote(proposal._id, 'against')">
        <ion-icon name="caret-down-outline"></ion-icon>
        <label>Vote Against</label>
        <span>{{proposal.against}}</span>
      </div>
      <div class="vote-button ButtonText" id="vote-for" (click)="addVote(proposal._id, 'for')">
        <ion-icon name="caret-up-outline"></ion-icon>
        <label>Vote For</label>
        <span>{{proposal.for}}</span>
      </div>
    </div>
  </ion-row>
</ion-row>