<ion-row class="ion-justify-content-between ion-text-capitalize">
  <ion-col sizeMd="2.8" size="5" class="data-box ion-padding">
    <app-data-box [title]="'Total value locked'" [loading]="!(fraktStats | async)"
      [desc]="((fraktStats | async)?.loansTvl | number)  +'◎'  ">
    </app-data-box>
  </ion-col>
  <ion-col sizeMd="2.8" size="5" class="data-box ion-padding">
    <app-data-box [title]="'total volume'" [loading]="!(fraktStats | async)"
      [desc]="((fraktStats | async)?.loansVolumeAllTime | number)  +'◎'  ">
    </app-data-box>
  </ion-col>
  <ion-col sizeMd="2.8" size="5" class="data-box ion-padding">
    <app-data-box [title]="'active loans'" [loading]="!(fraktStats | async)"
      [desc]="(fraktStats | async)?.activeLoansCount | number ">
    </app-data-box>
  </ion-col>
  <ion-col sizeMd="2.8" size="5" class="data-box ion-padding">
    <app-data-box [title]="'total loans issued'" [loading]="!(fraktStats | async)"
      [desc]="(fraktStats | async)?.totalIssued | number ">
    </app-data-box>
  </ion-col>
</ion-row>