:host {
//     display: block;
// width: 300px;
}
// app-image-placeholder {
//     min-height: 220px;
//     min-width: 220px;
//     max-width: 100%;
//     display: block;
// }

.nft-item {
    width: 100%;
    height: 100%;
    padding-bottom: 15px;
}

ion-accordion {
    background: transparent;
}

#attr-header {
    text-transform: capitalize;
    --background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    --inner-padding-start: 0;
    --inner-padding-end: 0;
    --ripple-color: transparent;
    --padding-end: 0;
    --padding-start: 0;
}
.nft-attr {
    display: flex;
    justify-content: space-between;
     .sub-strong {
        text-align: left;
    }
}
#nft-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}
ion-button{
    display: block;
}
ion-item{
    text-transform: capitalize;
    --ion-color-base: transparent !important;
    --ion-color-contrast: white !important;
    background: transparent !important;
}
ion-card-content{
    min-height: 146px;
    padding-bottom: 0;
    h5{
    text-transform: capitalize;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
}
ion-card-title{
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    color: var(--ion-text-color);
    span{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

// app-image-placeholder {
//     min-height: 240px;
//     overflow: hidden;
//     display: block;
// }

::ng-deep{

    ion-accordion.accordion-animated > [slot=header] .ion-accordion-toggle-icon {
        
        color: var(--icon-color);
    }
}