
<ion-grid class="ion-padding">
        <ion-row class="ion-justify-content-between">
            <ion-col size="3" class="data-box ion-padding"><app-balance></app-balance></ion-col>
            <ion-col size="3" class="data-box ion-padding"> <app-rewards></app-rewards></ion-col>
            <ion-col size="3" class="data-box ion-padding "> <app-nfts></app-nfts></ion-col>
        </ion-row>
        <ion-row class="ion-justify-content-between">
            <ion-col size="7" class="data-box ion-padding"><app-chart></app-chart></ion-col>
            <ion-col size="4" class="data-box ion-padding"><app-wallets></app-wallets></ion-col>
        </ion-row>

</ion-grid>