.data-box{
    min-height: 145px;
}

.price-bg {
    padding: 2px 4px;
    font-size: 12px;
    margin-inline-start: 8px;
    background: #093A61;
    border-radius: 5px;
    width: 51px;
    height: 29px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tps-good{
    color: var(--ion-color-primary);
}
.tps-bad{
    color: var(--ion-color-danger);
}