
<ion-grid class="ion-padding">
        <ion-row class="ion-justify-content-between ">
            <ion-col sizeSm="12" sizeLg="3.7" class="data-box ion-padding"><app-balance></app-balance></ion-col>
            <ion-col sizeSm="12" sizeLg="3.7" class="data-box ion-padding"> <app-rewards></app-rewards></ion-col>
            <ion-col sizeSm="12" sizeLg="3.7" class="data-box ion-padding "> <app-nfts></app-nfts></ion-col>
        </ion-row>
        <ion-row class="ion-justify-content-between">
            <ion-col sizeSm="12" sizeLg="7.7"  class="data-box ion-padding"><app-chart></app-chart></ion-col>
            <ion-col sizeSm="12" sizeLg="4"  class="data-box ion-padding"><app-assets-balance title="wallets"></app-assets-balance></ion-col>
        </ion-row>
</ion-grid>