<ion-grid class="ion-text-transform">
  <h1 class="heading-2 ion-text-uppercase">deposit by stake account</h1>
  <form [formGroup]="stakeForm">
    <ion-row class="ion-margin-bottom">
      <ion-row class="ion-margin-bottom">
        <app-label-layout [layoutConfig]="{title: 'Choose stake account'}"></app-label-layout>
        <div id="stake-account-selection">
          <app-select-item [item]="stakeForm.controls.stakeAccount.value" (click)="showAccountList = !showAccountList"
            [isDropDownOpen]="showAccountList" [showDropDownIcon]="true">

          </app-select-item>
          <app-select-box *ngIf="showAccountList" (onSelectItem)="setSelectedStakeAccount($event)"
            [dataset]="stakeAccounts" [filterBy]="'name'"></app-select-box>
          <div id="deposit-account-info" *ngIf="stakeForm.controls.stakeAccount.value && !showAccountList">
            <h3 class="heading-6">
              Deposit review
            </h3>
            <p>

              For deposit this stake account you will start gain staking
              reward from staking pool
              and will receive
              <b>{{stakeForm.controls.stakeAccount.value?.extraData?.balance / stakePoolStats.assetRatio | number : '1.2-3'}}</b>
              {{selectedProvider.tokenSymbol}}
            </p>
          </div>
        </div>
      </ion-row>
      <ion-row>
        <ng-container *ngIf="withCLS; else elseTemplate">

          <div id="cls-wrapper">

            <app-stake-custom-validator (onValidatorSelect)="setValidator($event)"></app-stake-custom-validator>
            <ion-button class="cls-btn" fill="clear" slot="start" (click)="removeValidatorControl()">
              <div>
                remove custom validator
              </div>
            </ion-button>
          </div>



        </ng-container>
        <ng-template #elseTemplate>
          <ion-button *ngIf="selectedProvider?.poolName == 'SolBlaze'" class="cls-btn" fill="clear"
            (click)="addValidatorControl()"
            tooltip="stake with custom validator will give you the benefit to support your favorite validator while join liquid staking pool">
            <div>
              add custom validator
            </div>
          </ion-button>
        </ng-template>
      </ion-row>
    </ion-row>


    <ion-row>
      <ion-button (click)="delegateStakeAccount()"  [disabled]="formSubmitted || stakeForm.invalid"  class="ion-text-capitalize">
        Deposit account
      </ion-button>
    </ion-row>
  </form>

</ion-grid>