<ion-row id="swap-info">
  <div id="min-receive">
    <span>minimum receive</span>
    <span>{{((swapDetail | async)?.minimumRecived)}}</span>
  </div>
  <div id="price-impact">
    <span>price impact</span>
    <span [ngClass]="{
      'excellent-price-impact': (swapDetail | async)?.priceImpact < 0.005,
      'ok-price-impact': (swapDetail | async)?.priceImpact <  0.025,
      'severe-price-impact': (swapDetail | async)?.priceImpact > 0.025
      }">
      {{this.priceImpactScore}} ({{(swapDetail | async)?.priceImpact | percent:'1.0-3'}})
    </span>
  </div>
  <!-- <div id="amm-fee">
    <span>market maker fee</span>
    <span>{{(swapDetail | async)?.AMMfees}}</span>
  </div> -->
  <div id="tx-fee">
    <span>transaction fee</span>
    <span>{{(swapDetail | async)?.transactionFee}}</span>
  </div>
  <div id="platform-fee">
    <span>platform fee</span>
    <span>{{(swapDetail | async)?.platformFees}}</span>
  </div>

</ion-row>