<ion-row id="swap-info">
  <div id="min-receive">
    <span>minimum receive</span>
    <span>{{((swapDetail | async)?.minimumRecived)}}</span>
  </div>
  <div id="price-impact">
    <span>price impact</span>
    <span [ngClass]="{
      'excelent-price-impact': (swapDetail | async)?.priceImpact < 0.005,
      'ok-price-impact': (swapDetail | async)?.priceImpact <  0.01,
      'severe-price-impact': (swapDetail | async)?.priceImpact > 0.01
      }">
      {{this.priceImpactScore}}
    </span>
  </div>
  <div id="amm-fee">
    <span>market maker fees</span>
    <span>{{(swapDetail | async)?.AMMfees}}</span>
  </div>
  <div id="tx-fee">
    <span>transaction fee</span>
    <span>{{(swapDetail | async)?.transactionFee}}</span>
  </div>
  <!-- <div id="platform-fee">
    <span>platform fees</span>
    <span>{{(swapDetail | async)?.platformFees}}</span>
  </div> -->

</ion-row>