<div class="nodes" [ngClass]="{'fav-validator': validatorData?.name == 'Avaulto'}" (click)="setSelectedValidator.emit(validatorData)">
  <div class="node-img">
    <ion-img [src]="validatorData?.image || '/assets/images/icons/node-placeholder.svg'"></ion-img>
  </div>
  <div class="node-info">
    <div class="node-name ButtonText">{{validatorData?.name || 'select node'}}</div>
    <ion-icon *ngIf="showDropDownIcon" name="chevron-down-outline" [ngClass]="{'selected-validator': showValidatorList}"></ion-icon>
    <div  *ngIf="validatorData" class="node-sub">
      <span class="sub">fee: {{validatorData.commission}}% </span>
      <span class="sub">estimated APY: {{validatorData.apy_estimate}}% </span>
    </div>
  </div>
</div>