<ion-grid>

  <form [formGroup]="stakeForm" id="stake-box" class="ion-text-capitalize">
    <ion-row class="ion-margin-bottom" id="stake-apr-box">
      <div>~{{avgApy}}% <span>APY</span></div>
      <p id="">Earn passive income from your crypto by staking it.</p>
    </ion-row>
    <ion-row style="margin-bottom:8px" class="heading-6 ion-justify-content-between">
      <div id="">stake</div>
      <div id="balance">Available balance: {{wallet?.balance}} <ion-icon tooltip="A ◎ 0.0001 is reduced from maximum balance to prevent missing tx fee.
        " placement="top" name="alert-circle-outline"></ion-icon> </div>
    </ion-row>
    <ion-row id="stake-amount">
      <ion-input class="button-text" formControlName="amount" type="number" placeholder="Amount"></ion-input>
      <span class="heading-6" (click)="setMaxAmount()">MAX</span>
    </ion-row>
    <ion-row style="margin-bottom:8px" class="heading-6" id="node-select">
      Choose node
    </ion-row>
    <ion-input style="display:none;" formControlName="voteAccount" readonly></ion-input>
    <ion-row class="ion-margin-bottom">

      <div id="node-selection">

        <app-select-item 
        [item]="selectedValidator"
        (click)="showValidatorList = !showValidatorList" 
        [isDropDownOpen]="showValidatorList"
         [showDropDownIcon]="true"
         >
        </app-select-item>
        <!-- <app-validator (click)="showValidatorList = !showValidatorList" [showValidatorList]="showValidatorList"
          [validatorData]="selectedValidator" [showDropDownIcon]="true">
        </app-validator> -->

        <app-select-box *ngIf="showValidatorList"  [dataset]="validatorsData" [filterBy]="'name'" (onSelectItem)="setSelectedValidator($event)">
          
        </app-select-box>

      </div>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-button [disabled]="formSubmitted || stakeForm.invalid" (click)="submitNewStake()" type="button" class="ion-text-capitalize">stake</ion-button>
    </ion-row>
  </form>
<app-apy-calc class="ion-margin-top" *ngIf="selectedValidator" [rewardInfo]="rewardInfo"></app-apy-calc>
</ion-grid>