<ion-grid>

  <form [formGroup]="stakeForm" id="stake-box" class="ion-text-capitalize">
    <ion-row class="ion-margin-bottom" id="stake-apr-box">
      <div>~{{avgApy}}% <span>APY</span></div>
      <p id="">Earn passive income from your crypto by staking it.</p>
    </ion-row>
    <ion-row style="margin-bottom:8px" class="heading-6 ion-justify-content-between">
      <div id="">stake</div>
      <div id="balance">Available balance: {{wallet?.balance}} <ion-icon tooltip="A ◎ 0.0001 is reduced from maximum balance to prevent missing tx fee.
        " placement="top" name="alert-circle-outline"></ion-icon> </div>
    </ion-row>
    <ion-row id="stake-amount">
      <ion-input class="button-text" formControlName="amount" type="number" placeholder="Amount"></ion-input>
      <span class="heading-6" (click)="setMaxAmount()">MAX</span>
    </ion-row>
    <ion-row style="margin-bottom:8px" class="heading-6" id="node-select">
      Choose node
    </ion-row>
    <ion-input style="display:none;" formControlName="voteAccount" readonly></ion-input>
    <ion-row class="ion-margin-bottom">

      <div id="node-selection">


        <app-validator (click)="showValidatorList = !showValidatorList" [showValidatorList]="showValidatorList"
          [validatorData]="selectedValidator" [showDropDownIcon]="true">
        </app-validator>

        <div id="node-options" *ngIf="showValidatorList">
          <div class="nodes" id="search-box">
            <ion-input (ionChange)="onSearch($event.target)"  type="search" placeholder="search"></ion-input>
            <ion-icon name="search-outline"></ion-icon>
          </div>
   
            <ion-content  id="node-list">
              <app-loader *ngIf="validatorData.length == 0"></app-loader>
              <ion-virtual-scroll *ngIf="validatorData.length > 0" [items]="validatorData | filter: 'name':searchTerm" approxItemHeight="54px">
                <div *virtualItem="let validator">
                  <app-validator [validatorData]="validator" [searchTerm]="searchTerm"
                    (setSelectedValidator)="setSelectedValidator($event)"></app-validator>
                </div>
              </ion-virtual-scroll>
            </ion-content>
        
        </div>

      </div>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-button [disabled]="formSubmitted || stakeForm.invalid" (click)="submitNewStake()" type="button" class="ion-text-capitalize">stake</ion-button>
    </ion-row>
  </form>
<app-apy-calc class="ion-margin-top" *ngIf="selectedValidator" [rewardInfo]="rewardInfo"></app-apy-calc>
</ion-grid>