
<div id="assets-list">
  <div class="asset ion-align-items-center" *ngFor="let asset of assets" (click)="send(asset)">
    <div id="balace-number">
      <div id="icon-wrapper">
        <ion-img [src]="asset.icon"></ion-img>
      </div>
      <div>
        <div class="short-wallet-name ion-text-uppercase">
          {{asset.name}}
        </div>
        <div class="button-text">
          <span class="global-selected-pair">
            {{asset.totalUsdValue | currency}}
          </span>
          <span class="sub">{{asset.balance}}</span>
        </div>
      </div>

    </div>
    <div id="balance-base">

      <div>{{asset.baseOfPortfolio}}%</div>
      <div id="bar-wrapper">

        <span class="bar" [style]="'width:' + asset.baseOfPortfolio + '%'"></span>
      </div>


    </div>
  </div>
</div>