#assets-list {
    max-height: 400px;
    overflow-y: scroll;
}
.asset {
    margin-block-start: 2px;
    margin-block-end: 21px;
    display: flex;
    justify-content: space-between;
}


ion-img {
    width: 26px;
    margin-inline-end: 7px;
}

#balace-number {
    display: flex;
}

.short-wallet-name {
    font-weight: 500;
    font-size: 12px;
    line-height: 8px;
}

#balance-base {
    display: flex;
    align-items: center;
    width: 50%;
    div:first-child{
        margin-inline-end: 18px;
    }
}

.global-selected-pair {
    color: var(--ion-color-tertiary);
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
}
#bar-wrapper{
    background: var(--deep-background);
    width: 100%;
    height: 8px;
    border-radius: 8px;
}
.bar {
    height: 8px;
    display: block;
    background: #FD49AD;
    border-radius: 8px;
}

.global-selected-pair {
    color: var(--ion-color-tertiary);
}