<div class="heading-4 ion-margin-bottom ion-text-uppercase">wallets</div>
<div id="wallets-list">
  <ion-row class="wallet" *ngFor="let wallet of wallets">
    <ion-col size="6">
      <ion-row class="ion-justify-content-between ion-align-items-center">
        <ion-col size="2"><ion-img [src]="wallet.icon"></ion-img></ion-col>
        <ion-col size="9">
          <div>
            {{wallet.addr}}
          </div>
          <div>
            {{wallet.balance}}
          </div>
        </ion-col>
      </ion-row>
    </ion-col>
    <ion-col size="6">
      <ion-row class="ion-justify-content-between ion-align-items-center">
        <ion-col size="2">{{wallet.baseOfPortfolio}}</ion-col>
        <ion-col size="9">
          <div class="bar" [style]="'width:' + wallet.baseOfPortfolio"></div>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
</div>