.wallet {
    margin-block-end: 21px;
    ion-img {
        width: 26px;
    }
    ion-col{
        font-weight: 600;
        font-size: 12px;
        line-height: 18px;
        text-transform: capitalize;
    }
}
.bar{
    height: 8px;
    background: #FE5B94;
    border-radius: 8px;
}