#claim-box {
    display: block;
    width: 450px;
    max-width: 100%;
    margin: 8px auto;
}

#deposit-apr-box {
    height: 99px;
    background: var(--apr-box);
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    text-transform: capitalize;

    #rewards-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    div {
        font-weight: 600;
        font-size: 24px;
    }
}

#reward {
    display: block;
    font-size: 12px;
    position: relative;
    bottom: 7px;
}

.reward-color {
    color: gold;
}

#claim-as-sol-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-block-end: 8px;
}