<form id="claim-box">

  <ion-row class="ion-margin-bottom" id="deposit-apr-box">
    <div id="rewards-wrapper">
      <div *ngFor="let reward of claimAssets; let i = index">{{reward?.toClaim || 0}} 
        <span> {{reward?.name || ''}}</span> 
        <small style="    margin-inline: 10px;" *ngIf="claimAssets.length > i + 1" class="reward-color"> &</small>
      </div>
    </div>
      <span id="reward" class="reward-color">
        <span>
          Claimable rewards 
        </span>
      </span>
  </ion-row>

  <!-- <ion-row id="claim-as-sol-wrapper">
    <span>Claim and swap to $SOL?</span>
    <ion-toggle [checked]="swapToSol" (ionChange)="updateSelection($event)" style="height: 25px;" ></ion-toggle>
  </ion-row> -->

  <ion-row class="ion-justify-content-center">
    <ng-container *ngIf="walletExtended$; else elseTemplate">
      <ion-button (click)="claimReward()" type="button"
      class="ion-text-capitalize">
      <span>
        claim
      </span>
      <ion-spinner name="dots" *ngIf="loader"></ion-spinner>
    </ion-button>
    </ng-container>
    <ng-template #elseTemplate>
      <app-wallet-not-connected-state [showBtn]="true"></app-wallet-not-connected-state>
    </ng-template>
    
  </ion-row>
  
</form>