<ion-row class="ion-margin-bottom heading-1">
  Proposals
</ion-row>

<ion-row class="ion-justify-content-between ion-margin-bottom">
  <ion-col size="12">
    <app-search-input (search)="searchItem($event)" [value]="searchTerm"
      [placeholder]="'Search Proposal'"></app-search-input>
  </ion-col>
  <!-- <ion-col id="my-props">
    <ion-label>My Proposals</ion-label>
    <ion-toggle (ionChange)="istoggleChcked($event)"></ion-toggle>
  </ion-col> -->
</ion-row>


  <app-item *ngFor="let prop of proposals | async | filter:'title':searchTerm" [proposal]="prop" class="ion-padding "></app-item>


