<ion-row class="ion-margin-bottom heading-3">
  Proposals
</ion-row>

<ion-row class="ion-justify-content-between ion-margin-bottom" id="proposal-header">
  <ion-col size="8">
    <ion-row class="ion-justify-content-between">
      <ion-col size="7">

        <app-search-input (search)="searchItem($event)" [value]="searchTerm"
        [placeholder]="'Search Proposal'"></app-search-input>
      </ion-col>

      <ion-col size="4">
        <ion-select placeholder="sort by" icon="chevron-down-outline" aria-label="sort by" interface="popover">
          <ion-select-option value="integration request">vote status</ion-select-option>
          <ion-select-option value="feature request">feature request</ion-select-option>
        </ion-select>
      
        <ion-button>
          sort by <ion-icon slot="end" name="chevron-down-outline"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>

  </ion-col>
  <ion-col id="my-props">
    <ion-toggle></ion-toggle>
    <ion-label>My Proposals</ion-label>
  </ion-col>
</ion-row>

<ng-container *ngIf="proposals | async as proposals; else elseTemplate">
  <app-item *ngFor="let prop of proposals | filter:'title':searchTerm" [proposal]="prop" class="ion-padding "></app-item>
  
</ng-container>
<ng-template #elseTemplate>
  <app-loader></app-loader>
</ng-template>



