<div class="pool">
  <!-- <div class="reward-wrapper" *ngIf="poolRewrad.length">

    <div  *ngFor="let reward of poolRewrad" class="reward-info" [tooltip]="reward.toolTip">
      <ion-img [src]="reward.icon"></ion-img> {{reward.symbol}} rewards
    </div>
  </div> -->
  <div class="pool-logo-name">
    <div class="pool-logo">
      <app-image-placeholder [imagePath]="pool.tokenA.logoURI"></app-image-placeholder>
      <app-image-placeholder class="overlap-icon" [imagePath]="pool.tokenB.logoURI"></app-image-placeholder>
    </div>
    <span>{{pool.tokenA.symbol}}/{{pool.tokenB.symbol}}</span>
  </div>
  <div class="pool-stats-wrapper">
    <div class="pool-stat">
      <div class="pool-stat-label sub">Liquidity</div>
      <div class="pool-stat-value">{{pool.tvl| number}}</div>
    </div>
    <div class="pool-stat">
      <div class="pool-stat-label sub">24h Volume</div>
      <div class="pool-stat-value">{{pool.volume?.day | currency}}</div>
    </div>
    <div class="pool-stat">
      <div class="pool-stat-label sub">Fee Rate</div>
      <div class="pool-stat-value">{{pool.protocolFeeRate * 10 | number : '1.2-2'}}%</div>
    </div>
    <div class="pool-stat">
      <div class="pool-stat-label sub">APR</div>
      <div class="pool-stat-value">{{pool.totalApr?.day * 365 | number : '1.2-2'}}%</div>
    </div>
    <div class="pool-deposit">
      <ng-container *ngIf="isReady$ | async; else elseTemplate">
        <ion-button (click)="onInitDeposit.emit(pool)" fill="outline">deposit</ion-button>
      </ng-container>
      <ng-template #elseTemplate>
        <app-wallet-not-connected-state [showBtn]="true"></app-wallet-not-connected-state>
      </ng-template>
    </div>
  </div>
</div>