.pool {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.pool-logo-name {
    display: flex;
    align-items: center;
    flex: 1;
    flex-wrap: wrap;
    .pool-logo {
        display: flex;
    }
}
.pool-stats-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex: 3;
    align-items: center;
}
app-image-placeholder {
        width: 40px;
        overflow: hidden;
        border-radius: 50%;   
}
.overlap-icon{
    position: relative;
    right: 10px;
}

.reward-wrapper{
    position: absolute;
    bottom: -50px;
    right: 0;
    width: 300px;
    display: flex;
    justify-content: space-between;
}
// .reward-info {
//     ion-img{
//         width: 23px;
//         overflow: hidden;
//         border-radius: 50%;
//     }
//     border: 1px solid gold;
//     border-top: 0;
//     padding: 5px;
//     border-radius: 0 0 4px 4px;
//     color: gold;
//     font-weight: bold;
//     text-transform: capitalize;
//     width: 133px;
//     text-align: center;
//     display: flex;
//     font-size: 12px;
//     align-items: center;
//     justify-content: space-between;
// }