<ion-grid class="ion-padding">
    <ion-row *ngFor="let connect of connectionsOptions" class="ion-justify-content-between ion-align-items-center data-box ion-padding">
      <ion-col size="9">
        <ion-row  class="ion-align-items-center">
            <div class="brand-wrapper ion-margin-end">
                <ion-icon [name]="connect.icon"></ion-icon>
            </div>
     
          <div>
            <div class="heading-4 ion-text-capitalize">{{connect.name}}</div>
            <div class="">{{connect.desc}}</div>
          </div>
        </ion-row>
      </ion-col>
      <ion-col size="1" >
        <ion-row class="ion-justify-content-center">
          <ion-button [disabled]="!connect.active" color="primary">
              <ng-container *ngIf="connect.active; else elseTemplate">
                  add
              </ng-container>
              <ng-template #elseTemplate>
                  soon
              </ng-template>
              
            </ion-button>      
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>