#loan-calc-wrapper {
    ion-row {
        text-transform: capitalize;
        justify-content: space-between;
        align-items: center;
        height: 42px;
        border-bottom: 1px solid rgb(132 141 164 / 20%);
    }
}