<ion-row  class="ion-justify-content-between">
  <ion-col class="data-box ion-padding" sizeMd="2.8" sizeSm="5">
    <app-data-box  [title]="'total value locked'" [loading]="friktionInfo == null" [desc]="friktionInfo?.tvl | currency">
    </app-data-box>
  </ion-col>
  <ion-col class="data-box ion-padding" sizeMd="2.8" sizeSm="5">
    <app-data-box  [title]="'volume'" [loading]="friktionInfo == null" [desc]="friktionInfo?.volume | currency">
    </app-data-box>
  </ion-col>
  <ion-col class="data-box ion-padding" sizeMd="2.8" sizeSm="5">
    <app-data-box  [title]="'total products'" [loading]="friktionInfo == null" [desc]="friktionInfo?.numOfProducts">
    </app-data-box>
  </ion-col>
  <ion-col class="data-box ion-padding" sizeMd="2.8" sizeSm="5">
    <app-data-box  [title]="'top deposited asset'" [loading]="friktionInfo == null" [desc]="friktionInfo?.mostDepositedAsset">
    </app-data-box>
  </ion-col>
</ion-row>