<ion-row  class="ion-justify-content-between">
  <ion-col class="data-box ion-padding" sizeMd="2.8" sizeSm="5">
    <app-data-box  [title]="'total value locked'" [loading]="false" [desc]="'total value locked'">
    </app-data-box>
  </ion-col>
  <ion-col class="data-box ion-padding" sizeMd="2.8" sizeSm="5">
    <app-data-box  [title]="'volume'" [loading]="false" [desc]="'volume'">
    </app-data-box>
  </ion-col>
  <ion-col class="data-box ion-padding" sizeMd="2.8" sizeSm="5">
    <app-data-box  [title]="'total products'" [loading]="false" [desc]="'total products'">
    </app-data-box>
  </ion-col>
  <ion-col class="data-box ion-padding" sizeMd="2.8" sizeSm="5">
    <app-data-box  [title]="'top performing asset'" [loading]="false" [desc]="'top performing asset'">
    </app-data-box>
  </ion-col>
</ion-row>