<div id="side-menu">

  <div id="logo-wrapper">
    <app-logo></app-logo>
  </div>
  <div id="routes-wrapper">
    <div *ngFor="let p of pages">
      <ion-item class="menu-item" button [routerLink]="p.url" [routerLinkActiveOptions]="{exact: true}"
        routerLinkActive="active">
        <ion-icon [name]="p.icon"></ion-icon>
        <ion-label>
          {{ p.title }}
        </ion-label>
        <ion-icon name="chevron-down-outline" *ngIf="p?.children"
          [ngStyle]="{'transform': p.open ? 'rotate(180deg)' : 'rotate(0deg)'}" (click)="p.open = !p.open"></ion-icon>
      </ion-item>
      <ion-list *ngIf="p.open">
        <ion-item lines="none" *ngFor="let sub of p?.children" class="menu-item" [routerLink]="sub.url"
          routerLinkActive="active">
          <div class="menu-icon">

            <ion-icon [name]="sub.icon"></ion-icon>
          </div>
          <div class="wallet-info">
            <ion-label>
              {{ sub.title }}
            </ion-label>
            <ion-label class="balance-sub">
              {{sub.sub}}
            </ion-label>
          </div>
        </ion-item>

      </ion-list>


    </div>

  </div>
  <div id="footer-menu">
    <app-wallet-connect></app-wallet-connect>
    <div class="divider"></div>
    <div id="socials">

      <a target="_blank" href="https://discord.gg/7SxUZkqa6Q">

        <ion-icon name="logo-discord"></ion-icon>

      </a>
      <a target="_blank" href="https://twitter.com/CompactDefi">

        <ion-icon name="logo-twitter"></ion-icon>

      </a>
      <a target="_blank" href="https://github.com/avaulto/Compact-DeFi">

        <ion-icon name="logo-github"></ion-icon>

      </a>
    </div>
    <a id="docs" target="_blank" class="ion-text-center ion-margin-vertical"
      href="https://docs.avaulto.com/avaulto/compact-defi/what-is-compact-defi">

      View the documentation

    </a>
    <!-- <a id="open-tnc" (click)="presentTncPopover()" style="cursor: pointer; text-align: center;"> Terms & Conditions</a>
    <ion-popover #popover [isOpen]="isTncOpen" (didDismiss)="isTncOpen = false">
      <ng-template>
        <div id="tnc-popover-wrapper" class="ion-padding">
          <h1>Privacy Policy & Terms of Use</h1>

          <h3>Privacy Policy</h3>
          <p>
            By using this website you agree to this privacy policy.<br>
            We are committed to protecting your privacy. <br>
            The data we collect is used only to process your request. We do not sell your data.<br>
            We use cookies only where necessary for the functionality of this website, or as part of our analytics
            tools.
          </p>


          <h3>Terms of Use</h3>
          <p>
            By using this website you accept these terms.<br>
            The information found on this webpage is provided on an 'as-is' basis,
            and may be altered at any time without notice.
            <br><br><br>
            You waive any claims of damages or loss that you believe may arise through the use of this website and
            indemnify Avaulto against all claims by yourself, your employees, employer, associates or other parties as
            may arise.
          </p>
        </div>
      </ng-template>
    </ion-popover> -->
  </div>
</div>