
    <div id="side-menu">

      <div id="logo-wrapper">
        <app-logo></app-logo>
      </div>
      <div id="routes-wrapper">
        <div *ngFor="let p of pages">
          <ion-item class="menu-item" (click)="p.open = !p.open" button [routerLink]="p.url" routerLinkActive="active">
            <ion-icon [name]="p.icon" ></ion-icon>
            <!-- <fa-icon [icon]="boxOpen" *ngIf="p.open"></fa-icon> -->
            <ion-label>
              {{ p.title }}
            </ion-label>
          </ion-item>
          <ion-list *ngIf="p.open">
            <ion-item lines="none" *ngFor="let sub of p?.children" class="menu-item" [routerLink]="sub.url"
              routerLinkActive="active">
              <div class="menu-icon">
                
                <ion-icon [name]="sub.icon" ></ion-icon>
              </div>
              <div class="wallet-info">
                <ion-label>
                  {{ sub.title }}
                </ion-label>
                <ion-label class="balance-sub">
                  {{sub.sub}}
                </ion-label>
              </div>
            </ion-item>
            
          </ion-list>
        </div>
        <div id="footer-menu">
          <!-- <ion-item>
            <ion-radio-group (ionFocus)="selectCurrency($event)" class="menu-item" id="currency-switch" value="BTC">
              <span>Currency</span>
             
                <ion-radio  value="BTC"></ion-radio> BTC
           
                <ion-radio value="USD"></ion-radio> USD
              

            </ion-radio-group>
          </ion-item> -->
          <ion-item class="menu-item">
            <app-wallet-connect></app-wallet-connect>
          </ion-item>
        </div>
      </div>

    </div>
