// :host{
//     height: 100vh;
//     display: block;
// }
#side-menu {
    height: 100%;
    color: white;
    border-right: 1px solid rgb(132 141 164 / 20%);
    background-color: var(--side-menu-bg);
}

#logo-wrapper {
    padding-block-start: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 24px;
}

// parent item
.menu-item {
    position: relative;

    // padding-left: 6px;
    &::before {
        content: "";
        width: 6px;
        height: 100%;
        position: absolute;
        background-color: transparent;
        left: 0;
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
    }

    &.active::before {
        background-color: var(--ion-color-primary);
    }
}

.menu-icon {
    width: 26px;
    height: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.balance-sub {
    font-size: 12px;
}

div>ion-item {
    border-top: 1px solid rgb(132 141 164 / 20%);
}

div>ion-item.menu-item:nth-child(1) {
    border-bottom: 1px solid rgba(132, 141, 164, 0.2);
}
.menu-item.active{
    background-color: var(--menu-item-bg);
}
ion-icon {
    font-size: 16px;
    color: var(--icon-color);
}

ion-list,
ion-item {
    cursor: pointer;
    --color: var(--ion-text-color);
    font-weight: 500;
    --background: transparent;
    background: transparent;
    text-transform: capitalize;
    padding: 0;

    ion-label {
        margin-left: 18px;
        line-height: 18px;
    }
}

ion-radio label {
    display: none;
}

#footer-menu {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    #currency-switch {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;
    }

}

#socials {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
    width: 234px;
    max-width: 100%;
    margin: 0 auto;
}


app-wallet-connect {
    width: 90%;
    margin: 0 auto;
}

#rpc-service {
    text-align: center;
    padding: 10px;
    a{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    ion-img{
        width: 33px;
        border-radius: 50%;
        overflow: hidden;
        margin-inline-start: 5px;
    }
}
.divider {
    height: 1px;
    background: rgba(132, 141, 164, 0.2);
    width: 90%;
    margin: 20px auto;
}
#tnc-popover-wrapper{
    background: linear-gradient(141deg, rgba(4, 23, 44, 1) 0%, rgba(20, 47, 102, 1) 55%);
    width: 450px;
    // max-width: 98%;
}