:host {
    display: block;
    padding-block: 10px;
    width: 100%;
}

.flex-item-center {
    display: flex;
    align-items: center;
}
ion-col{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.table-icon {
    width: 26px;
    height: 26px;
    margin-inline-end: 10px;
    overflow: hidden;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

}

.validator-info.heading-6 {
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


.item-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.global-selected-pair {
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    margin-inline-end: 4px;
}
.controls{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}