:host {
    display: block;
    padding-block: 10px;
    width: 100%;
}

.flex-item-center {
    display: flex;
    align-items: center;
}
ion-icon{
    font-size: 18px;
    cursor: pointer;
}
.table-icon {
    width: 30px;
    height: 30px;
    margin-inline-end: 10px;
    overflow: hidden;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.validator-info.heading-6 {
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


.item-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.controls{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}
.global-usd-color.sub-strong{
    margin-inline-end: 3px;
}

.mnde-mange-account{
    position: absolute;
    left: -10px;
    top: 0;
    background: black;
    width: 23px;
    height: 23px;
    border-radius: 50%;
    z-index: 0;
    padding: 3px;
}
// @media only screen and (max-width: 990px) {
//     .validator-info span {
//         display: flex;
//         flex-direction: column;
//     }
// }