
<ion-row class="item-head" (click)="appendAccountData()">

  <ion-col [size]="actionType === 'mergeStake' ? 12 : 8">
  <div class="flex-item-center">
    <div class="table-icon" [ngStyle]="{'background': mergeCondition ? 'transparent' : ''}">
      <ion-img *ngIf="!mergeCondition" [src]="account?.validatorData?.image || '/assets/images/icons/placeholder.svg'"></ion-img>
      <ion-checkbox #accCheckbox *ngIf="mergeCondition" [checked]="isChecked"></ion-checkbox>
    </div>
    <div class="validator-info heading-6">
      {{account?.validatorData?.name || 'name not found'}} <br>
      <span class="sub">
        <span class="global-usd-color sub-strong">{{ account?.balance * solPrice | currency }}</span>  
        <span class="sub">{{account?.balance | number: '1.3'}} ◎</span>
      </span>
    </div>
  </div>
  <!-- {{account | json}} -->
  <div class="account-address ion-hide-xl-down">

    <div class="ion-text-capitalize heading-6">account address</div>
    <div class="sub">
      {{account?.shortAddr}}  <ion-icon name="copy-outline"  appCopyText [copyText]="account.addr"></ion-icon>
    </div>
  </div>

  <div class="account-status">
    <div class="ion-text-capitalize heading-6">status</div>
    <span class="sub" [ngStyle]="{'color': getStatusColor(account?.state)}">{{account?.state}}</span>
  </div>
</ion-col>
<ng-container *ngIf="actionType === ''">

  
  <ion-col size="3" class="controls">
    <ion-button fill="outline"
    (click)="openStakeAccountActions($event, account)">actions</ion-button>
  </ion-col>
</ng-container>

</ion-row >