
<ion-row class="item-head" (click)="appendAccountData()">

  <ion-col [size]="actionType === 'mergeStake' ? 12 : 10">
    <ion-row>


  <ion-col size="8" sizeLg="5" class="flex-item-center">
    <div class="table-icon" [ngStyle]="{'background': mergeCondition ? 'transparent' : ''}">

      <ion-img 
      [class.mndeAccount]="account.stakeAuth === 'stWirqFCf2Uts1JBL1Jsd3r6VBWhgnpdPxCTe1MFjrq'"
      *ngIf="!mergeCondition" 
      [src]="account?.validatorData?.image || '/assets/images/icons/placeholder.svg'
      "></ion-img>
      <ion-checkbox #accCheckbox *ngIf="mergeCondition" [checked]="isChecked"></ion-checkbox>
    </div>
    <div class="validator-info heading-6">
      {{account.stakeAuth === 'stWirqFCf2Uts1JBL1Jsd3r6VBWhgnpdPxCTe1MFjrq' ? 'Marinade Native' : account?.validatorData?.name || 'name not found'}} <br>
      <span class="sub">
        <span class="global-usd-color sub-strong">{{ account?.balance * solPrice | currency }}</span>  
        <span class="sub">{{account?.balance | number: '1.3'}} ◎</span>
      </span>
    </div>
  </ion-col>
  <!-- {{account | json}} -->
  <ion-col size="0" sizeLg="4" class="account-address ion-hide-xl-down">

    <div class="ion-text-capitalize heading-6">account address</div>
    <div class="sub">
      {{account?.shortAddr}}  <ion-icon name="copy-outline"  appCopyText [copyText]="account.addr"></ion-icon>
    </div>
  </ion-col>

  <ion-col size="3" class="account-status">
    <div class="ion-text-capitalize heading-6">status</div>
    <span class="sub" [ngStyle]="{'color': getStatusColor(account?.state)}">
      {{account?.state}}
    </span>
    <div class="sub" *ngIf="account?.locked">
      {{account.lockedDue}}
      <ion-icon tooltip="Account is locked until the due date"  name="lock-closed-outline"></ion-icon>
    </div>
   
  </ion-col>
</ion-row>
</ion-col>
<ng-container *ngIf="actionType === ''">

  
  <ion-col  size="1" class="controls" *ngIf="account.stakeAuth !== 'stWirqFCf2Uts1JBL1Jsd3r6VBWhgnpdPxCTe1MFjrq'">
    <ion-icon (click)="openStakeAccountActions($event, account)" name="ellipsis-vertical-circle-outline"></ion-icon>
    <!-- <ion-button fill="outline"
    (click)="openStakeAccountActions($event, account)">actions</ion-button> -->
  </ion-col>
</ng-container>

</ion-row >