:host{
    width: 100%;
}
.asset{
    display: flex;
    justify-content: space-between;
}
.balance-breakdown {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
}
#icon-wrapper {
    display: flex;
    align-items: center;
    margin-inline-end: 10px;
}
ion-item{
    --background: transparent;
}
ion-img {
    width: 26px;
    // margin-inline-end: 7px;
    overflow: hidden;
    border-radius: 50%;
}

#balace-number {
    display: flex;

}

.short-wallet-name {
    font-weight: 500;
    font-size: 12px;
    line-height: 8px;
}

#balance-base {
    display: flex;
    align-items: center;

    div:first-child{
        width: 90px;

    }
}


#bar-wrapper{
    background: var(--deep-background);
    width: 80%;
    height: 8px;
    border-radius: 8px;
}
.bar {
    height: 8px;
    display: block;
    background: #FD49AD;
    border-radius: 8px;
}


.controls{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    text-align: right;
    ion-button{
        margin: 4px;
    }
}