<ng-container *ngIf="activePools$ | async as activePools; else elseTemplate">
  {{activePools | json}}
  <!-- <ion-accordion-group multiple>
    <ion-accordion class="data-box ion-padding" [value]="i" *ngFor="let pool of activePools; let i = index">
      <ion-item slot="header" button detail="true">
        <div class="pool-logo-name">
          <div class="pool-logo">
            <app-image-placeholder [imagePath]="pool.tokenA.logoURI"></app-image-placeholder>
            <app-image-placeholder class="overlap-icon" [imagePath]="pool.tokenB.logoURI"></app-image-placeholder>
          </div>
          <span>{{pool.tokenA.symbol}}/{{pool.tokenB.symbol}}</span>
        </div>
      </ion-item>
      <div class="ion-padding item-content" slot="content">
        extra data

      </div>
    </ion-accordion>
  </ion-accordion-group> -->


    <ion-accordion-group multiple>
      <ion-accordion [value]="i" *ngFor="let activePool of activePools; let i = index">
        <ion-item slot="header" button detail="true">
          <!-- <app-card></app-card> -->
        </ion-item>
        <div class="ion-padding item-content" slot="content">

        </div>
      </ion-accordion>
    </ion-accordion-group>
  </ng-container>

<ng-template #elseTemplate>
  <ion-row class="ion-justify-content-center ion-align-items-center data-box">
    <ion-col size="4">
      <app-wallet-not-connected-state [showText]="true" [showBtn]="true"></app-wallet-not-connected-state>
    </ion-col>
  </ion-row>
</ng-template>