.walletQR {
    width: 78px;
    height: 78px;
}

ion-icon {
    font-size: 16px;
    cursor: pointer;
}

#nft-header-preview {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


  #assets-list {
    max-height: 400px;
    overflow-y: auto;
}

#no-nfts{
    #icon-placeholder{
        font-size: 140px;
    }
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 400px;
    ion-button{
        ion-icon{
            margin-inline-start: 5px;
        }
    }
}