<ion-row class="ion-justify-content-between ion-text-capitalize">
  <ion-col sizeMd="2.8" size="5" class="data-box ion-padding">
    <app-data-box [title]="'NFTs minted'" [loading]="false"
      [desc]="100">
    </app-data-box>
  </ion-col>
  <ion-col sizeMd="2.8" size="5" class="data-box ion-padding">
    <app-data-box [title]="'total stake using NFTs'" [loading]="false"
      [desc]=" '100,000 ◎'  ">
    </app-data-box>
  </ion-col>
  <ion-col sizeMd="2.8" size="5" class="data-box ion-padding">
    <app-data-box [title]="'Total active NFTs'" [loading]="false"
      [desc]="'90' ">
    </app-data-box>
  </ion-col>
  <ion-col sizeMd="2.8" size="5" class="data-box ion-padding">
    <app-data-box [title]="'unique wallets'" [loading]="false"
      [desc]="10000">
    </app-data-box>
  </ion-col>
</ion-row>