<ion-grid id="send-box" class="ion-text-capitalize">
  <form [formGroup]="sendCoinForm" id="stake-box" class="ion-text-capitalize">


    <app-label-layout [layoutConfig]="{title: 'To'}"></app-label-layout>

    <ion-row>
      <ion-input class="button-text" formControlName="targetAddress" placeholder="wallet address"></ion-input>
      <span class="heading-6"></span>
    </ion-row>


    <app-label-layout [layoutConfig]="{title: 'Amount', balance: (wallet$ | async)?.balance | number: '1.2-2'}">
      <app-icon-tooltip tip="A ◎ 0.0001 is reduced from maximum balance to prevent missing tx fee."></app-icon-tooltip>
    </app-label-layout>



    <ion-row id="send-amount" style="margin-bottom:8px;">
      <ion-input class="button-text" formControlName="amount" placeholder="Amount"></ion-input>
      <span class="heading-6" (click)="setMaxAmount()">MAX</span>
    </ion-row>

    <!-- <app-label-layout [layoutConfig]="{title: 'Private Transaction'}">

    </app-label-layout> -->
    <!-- <ion-toggle style="height: 25px;" formControlName="privateTx"></ion-toggle> -->

    <ion-row class="ion-justify-content-center">
      <ng-container *ngIf="wallet$; else elseTemplate">
        <ion-button (click)="send()" [disabled]="formSubmitted || sendCoinForm.invalid" class="ion-text-capitalize">
          submit
        </ion-button>
      </ng-container>
      <ng-template #elseTemplate>
        <app-wallet-not-connected-state [showBtn]="true"></app-wallet-not-connected-state>
      </ng-template>


    </ion-row>
  </form>
</ion-grid>