<ion-grid id="send-box" class="ion-text-capitalize">
  <form [formGroup]="sendCoinForm" id="stake-box" class="ion-text-capitalize">

    <ion-row style="margin-bottom:8px" class="heading-6 ion-justify-content-between">
      <div id="">to</div>
    </ion-row>
    <ion-row>
      <ion-input class="button-text" formControlName="targetAddress" 
    
      placeholder="wallet address"></ion-input>
      <span class="heading-6"></span>
    </ion-row>


    <ion-row style="margin-bottom:8px" class="heading-6 ion-justify-content-between">
      <div id="">Amount</div>
      <div id="balance">Balance: {{wallet?.balance}} <ion-icon tooltip="A ◎ 0.0001 is reduced from maximum balance to prevent missing tx fee.
        " placement="top" name="alert-circle-outline"></ion-icon> </div>
    </ion-row>

    <ion-row id="send-amount" style="margin-bottom:8px;">
      <ion-input class="button-text" formControlName="amount" placeholder="Amount"></ion-input>
      <span class="heading-6" (click)="setMaxAmount()">MAX</span>
    </ion-row>

    <ion-row class="ion-justify-content-center">
      <!-- <app-loader></app-loader> -->
      <ng-container *ngIf="wallet; else elseTemplate">
        <ion-button (click)="send()" [disabled]="formSubmitted || sendCoinForm.invalid" class="ion-text-capitalize">
          submit
        </ion-button>
      </ng-container>
      <ng-template #elseTemplate>
        <app-wallet-not-connected-state [showBtn]="true"></app-wallet-not-connected-state>
      </ng-template>
     

    </ion-row>
  </form>
</ion-grid>