
#send-amount{
    position: relative;
    span{
        cursor: pointer;
        position: absolute;
        color: var(--ion-color-primary);
        z-index: 2;
        right: 15px;
        top: 12px;
    }
}

.input-error{
    border-color: var(--ion-color-danger);
}