<div id="segmented-util">
  <div id="segment-header" class="ion-text-uppercase">
    <span (click)="setUtil('stake')" [class.active]="segmentUtilTab == 'stake'">stake</span>
    <span (click)="setUtil('accounts')" [class.active]="segmentUtilTab == 'accounts'">accounts</span>
    <span (click)="setUtil('send')" [class.active]="segmentUtilTab == 'send'">send</span>
    <!-- <span (click)="setUtil('history')" [class.active]="segmentUtilTab == 'history'">history</span> -->
  </div>
  <div [ngSwitch]="segmentUtilTab" class="ion-padding-vertical">
    <p *ngSwitchCase="'stake'">
      
        <app-stake [avgApy]="avgApy"  [wallet]="wallet"></app-stake>

    </p>
    <p *ngSwitchCase="'accounts'">
      
      <app-accounts [wallet]="wallet" ></app-accounts>

  </p>
    <p *ngSwitchCase="'send'">
      <app-send [wallet]="wallet"></app-send>
    </p>
    <p *ngSwitchCase="'history'">
      <app-history></app-history>
    </p>
  </div>
</div>