<div id="segmented-util" class="ion-text-uppercase">
  <div id="segment-header">
    <span (click)="setUtil('stake')" [class.active]="segmentUtilTab == 'stake'">stake</span>
    <span (click)="setUtil('reward')" [class.active]="segmentUtilTab == 'reward'">reward</span>
    <span (click)="setUtil('send')" [class.active]="segmentUtilTab == 'send'">send</span>
    <span (click)="setUtil('history')" [class.active]="segmentUtilTab == 'history'">history</span>
  </div>
  <div [ngSwitch]="segmentUtilTab" class="ion-padding">
    <p *ngSwitchCase="'stake'">
      <ng-container *ngIf="!hasStake; else noStake">
        <app-spot-stake></app-spot-stake>
      </ng-container>
      <ng-template #noStake>
        <app-stake></app-stake>
      </ng-template>
    </p>
    <p *ngSwitchCase="'reward'">
      <app-reward></app-reward>
    </p>
    <p *ngSwitchCase="'send'">
      <app-send></app-send>
    </p>
    <p *ngSwitchCase="'history'">
      <app-history></app-history>
    </p>
  </div>
</div>