<div id="segmented-util">

  <app-tabs [menu]="menu" (onSelectTab)="currentTab = $event"></app-tabs>

  <div [ngSwitch]="currentTab" class="ion-padding-vertical">

    <app-stake *ngSwitchCase="'stake'" [validatorsData]="validatorsData" [avgApy]="avgApy" [wallet]="wallet"></app-stake>
    <app-accounts *ngSwitchCase="'accounts'" [wallet]="wallet"></app-accounts>
    <app-send *ngSwitchCase="'send'" [wallet]="wallet"></app-send>
    <!-- <app-history  *ngSwitchCase="'history'"></app-history> -->

  </div>
</div>