
#send-amount{
    position: relative;
    span{
        cursor: pointer;
        position: absolute;
        color: var(--ion-color-primary);
        z-index: 2;
        right: 15px;
        top: 12px;
    }
}

.input-error{
    border-color: var(--ion-color-danger);
}

#private-balance {
    display: flex;
    width: 100%;
    color: var(--ion-color-tertiary);
    span{
        margin-inline: 2px;
    }
}

#private-tx-wrapper{
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;


}

#power-by{
    margin-block-start: 16px;
    display: flex;
    justify-content: center;
    a{
        margin: 0 5px;
    }
}
