
ion-item{
    --background: transparent;
    background: transparent;
}
#gallery-wrapper{
    min-height: 500px;
    display: flex;
    flex-direction: column;
}
ion-radio-group{
    // width: 250px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
    text-transform: capitalize;
}
app-collection{
    margin-bottom: 40px;
    display: block;
}

#no-nfts{
    #icon-placeholder{
        font-size: 140px;
    }
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 400px;
    ion-button{
        ion-icon{
            margin-inline-start: 5px;
        }
    }
}