<ion-grid class="ion-padding">
  <ion-content scroll-y style="--background:transparent;">
  <!-- <app-go-back-btn></app-go-back-btn> -->
  <!-- <ion-row class="data-box ion-padding ion-align-items-center">
    <ion-col  size="9">
      <div class="heading-4 ion-text-uppercase">total value</div>
      <span class="heading-2">$10.00</span>
    </ion-col >
    <ion-col size="3">
      <ion-radio-group (ionFocus)="setSort($event)"  value="newest">
        <span>filter</span>
       
          <ion-radio  value="newest"></ion-radio> newest
     
          <ion-radio value="oldest"></ion-radio> oldest
        

      </ion-radio-group>
    </ion-col>
  </ion-row> -->
  <ion-row id="gallery-wrapper" class="data-box ion-padding">
      <ion-col size="12">
        <div class="heading-4 ion-margin-bottom">NFTS</div>
      </ion-col>
      <ion-col *ngIf="(nfts | async) == null" size="12">

        <app-loader></app-loader>
      </ion-col>
        <ion-row class="ion-justify-content-between ion-align-items-center">
            <ion-col size="5.8" sizeLg="2.9" *ngFor="let nft of nfts | async">
              <app-nft-preview  [nft]="nft"></app-nft-preview>
            </ion-col>
        </ion-row>
        </ion-row>

    </ion-content>

</ion-grid>